<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="/static/mobile/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/mobile/css/wap.css">
    <title>内容页列表页</title>
</head>
<body style="background:#ececec">
<div class="pet_mian" >
    <div class="pet_head">
        <header data-am-widget="header"
                class="am-header am-header-default pet_head_block">
            <div class="am-header-left am-header-nav ">
                <a href="javascript:history.go(-1)" class="iconfont pet_head_jt_ico">&#xe601;</a>
            </div>

            <div class="am-header-right am-header-nav">
                <a href="{:url('/')}" class="am-icon-home am-icon-md"></a>
            </div>
        </header>
    </div>

    <div class="pet_content pet_content_list">
        <div class="pet_article_like">
            <div class="pet_content_main pet_article_like_delete">
                <div data-am-widget="list_news" class="am-list-news am-list-news-default am-no-layout">
                    <div class="am-list-news-bd">
                        <ul class="am-list">
                            <!--缩略图在标题右边-->
                            {volist name="activitieslist" id="list"}
                            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right pet_list_one_block">
                                <div class="pet_list_one_info">
                                    <div class="pet_list_one_info_l">
                                        <div class="pet_list_one_info_ico"><img src="/uploads/{$list.pic}" alt=""></div>
                                        <div class="pet_list_one_info_name">{$list.ac_title} </div>
                                    </div>
                                    <div class="pet_list_one_info_r">
                                        <div class="pet_list_tag pet_list_tag_xxs">{$list.ac_title}</div>
                                    </div>
                                </div>
                                <div class=" am-u-sm-8 am-list-main pet_list_one_nr">
                                    <h3 class="am-list-item-hd pet_list_one_bt"><a href="{:url('/activitiesdetailsshow/'.$list.activities_id)}" class="">{$list.ac_abstract}</a></h3>
                                </div>
                                <div class="am-u-sm-4 am-list-thumb">
                                    <a href="###" class="">
                                        <img src="/uploads/{$list.pic}" class="pet_list_one_img" alt=""/>
                                    </a>
                                </div>
                            </li>
                            {/volist}

                            <li class="am-g am-list-item-desced pet_list_one_block">
                                <div class="pet_article_user_block">
                                    <div class="pet_article_user_img">
                                        <div class="pet_article_user_shadow"></div>
                                        <div class="pet_article_user_title">您的旅程已经开始.....</div>
                                        <img src="/static/mobile/img/bottom.jpg" width="200"></div>
                                    <div class="am-list-item-text pet_article_user_nr">五月的睢阳大地，嫩枝舒展，新叶舞动，到处弥漫着芬芳的清新空气，一切都是恰到好处，淋漓而不失柔美，热烈而不失婉约</div>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>

            </div>

        </div>

        <div class="pet_article_footer_info">美丽乡村</div>
    </div>
</div>


<script src="/static/mobile/js/jquery.min.js"></script>
<script src="/static/mobile/js/amazeui.min.js"></script>
<script>
    $(function(){

        // 动态计算新闻列表文字样式
        auto_resize();
        $(window).resize(function() {
            auto_resize();
        });
        $('.am-list-thumb img').load(function(){
            auto_resize();
        });
        $('.pet_article_like li:last-child').css('border','none');
        function auto_resize(){
            $('.pet_list_one_nr').height($('.pet_list_one_img').height());
            // alert($('.pet_list_one_nr').height());
        }
        $('.pet_article_user').on('click',function(){
            if($('.pet_article_user_info_tab').hasClass('pet_article_user_info_tab_show')){
                $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_show').addClass('pet_article_user_info_tab_cloes');
            }else{
                $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_cloes').addClass('pet_article_user_info_tab_show');
            }
        });

        $('.pet_head_gd_ico').on('click',function(){
            $('.pet_more_list').addClass('pet_more_list_show');
        });
        $('.pet_more_close').on('click',function(){
            $('.pet_more_list').removeClass('pet_more_list_show');
        });
    });

</script>
</body>
</html>