{extend name="index/index"}
{block name="main"}
        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                Editable Table
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Data Table</a>
                </li>
                <li class="active"> Editable Table </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
             <div class="row">
                <div class="col-sm-12">
                <section class="panel">
                <header class="panel-heading">
                    添加分类
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                     </span>
                </header>

                <div class="panel-body">
                <div class="adv-table editable-table ">
                <div class="clearfix">
                  
                    </div>
                </div>
                <div class="space15"></div>

                <form action="{:url('admin/category/save')}" method="post">
                <table class="table table-striped table-hover table-bordered" id="editable-sample">
                    <tr>
                        <td>父类：</td>
                        <td>
                            <select name="pid">
                               <!--  <option value="0">顶级分类</option> -->
                                {volist name="list" id="v"}
                                <option value="{$v.c_id}">{$v.c_name}</option>
                                {/volist}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>分类名称</td>
                        <td>
                            <input type="text" name="c_name" value="">
                        </td>
                    </tr>

                     <tr>
                        <td>
                            <input type="submit" value="提交">
                            <input type="reset" value="重置">
                        </td>
                    </tr>
                    </form>


                </table>
                </div>
                </div>
                </section>
                </div>
                </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2014 &copy; AdminEx by <a href="http://www.tcode.me/" target="_blank">淘代码</a>
        </footer>
        <!--footer section end-->

    </div>
    <!-- main content end-->
{/block}
{block name="myjs"}
<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/app/admin/js/jquery-1.10.2.min.js"></script>
<script src="/static/app/admin/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/app/admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/app/admin/js/bootstrap.min.js"></script>
<script src="/static/app/admin/js/modernizr.min.js"></script>
<script src="/static/app/admin/js/jquery.nicescroll.js"></script>

<!--data table-->
<script type="text/javascript" src="/static/app/admin/js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/app/admin/js/data-tables/DT_bootstrap.js"></script>

<!--common scripts for all pages-->
<script src="/static/app/admin/js/scripts.js"></script>

<!--script for editable table-->
<script src="/static/app/admin/js/editable-table.js"></script>

<!-- END JAVASCRIPTS -->
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script>

{/block}
