{extend name='index/busIndex'}

{block name='main'}

<!--body main-->
<div class="container">
    <div class="row">
        <p></p>
        <div class="col-md-4 col-md-offset-1"></div>
        <div class="col-md-5">
            <h1>我的店铺</h1>
            <h2>
                <button type="submit" class="btn btn-success" id="info">基本信息</button>
                <button type="submit" class="btn btn-success" id="edit">修改资料</button>
                <button type="submit" class="btn btn-success" id="editpass">密码重置</button>
                <a href="{:url('admin/BusIndex/index')}" class="btn btn-success" id="back">店铺首页>>></a>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <img src="{:empty($res['b_logo'])?'/static/app/admin/images/1.jpg':$res['b_logo'];}" class="img-circle" width='250px' height="250px">
            <table class="table" style="margin-top:50px">
                <tr>
                    <td>注册时间:</td>
                    <td>{$res['b_create_time']}</td>
                </tr>
                <tr>
                    <td>经营状态:</td>
                    <td>{$res['is_approve']=='Y'?'正常经营':'已冻结'}</td>
                </tr>
                <tr>
                    <td>经营区域:</td>
                    <td>{$res['b_province']}/{$res['b_city']}/{$res['b_area']}</td>
                </tr>
            </table>
            <p style="color:pink"><b>温馨提示:</b>店铺被冻结了不要慌O(∩_∩)O,请联系平台管理员</p>
        </div>
        <div class="col-md-5" id="form">
            <form id="form2">
                <div class="form-group">
                    <label for="b_name">店铺名称 </label>
                    <input type="text" class="form-control"  value="{$res['b_name']}" readonly>
                </div>
                <div class="form-group">
                    <label for="b_username">管理员</label>
                    <input type="text" class="form-control"  value="{$res['b_username']}" readonly>
                </div>
                <div class="form-group">
                    <label >密码</label>
                    <input type="text" class="form-control"  value="******" readonly>
                </div>
                <div class="form-group">
                    <label for="b_phone">电话</label>
                    <input type="text" class="form-control"  value="{$res['b_phone']}" readonly>
                </div>
                <div class="form-group">
                    <label for="b_type">店铺类型</label>
                    <input type="text" class="form-control"  value="{$res['b_type']}" readonly>
                </div>
                <div class="form-group">
                    <label for="b_email">邮箱</label>
                    <input type="email" class="form-control"  value="{$res['b_email']}" readonly>
                </div>
            </form>
            <form id="form1" method="post" action="{:url('admin/BusInfo/update',['id'=>$res['b_id']])}" enctype="multipart/form-data" onsubmit='return checkForm()'>
                <input type="hidden" name="__token__" value="{$Request.token}">
                <div class="form-group">
                    <label for="b_name">店铺名称 <small style="color:pink">修改店铺名称店铺会被冻结,请慎重,您可以联系平台管理员来帮您修改</small></label>
                    <input type="text" class="form-control" id="b_name" name="b_name" value="{$res['b_name']}">
                    <p id='p1' style="padding-left: 15px"></p>
                </div>
                <div class="form-group">
                    <label for="b_username">管理员</label>
                    <input type="text" class="form-control" id="b_username" name="b_username" value="{$res['b_username']}">
                    <p id='p2' style="padding-left: 15px"></p>
                </div>
                <div class="form-group">
                    <label for="b_phone">电话</label>
                    <input type="text" class="form-control" id="b_phone" name="b_phone" value="{$res['b_phone']}">
                    <p id='p3' style="padding-left: 15px"></p>
                </div>
                <div class="form-group">
                    <label for="b_type">店铺类型</label>
                    <input type="text" class="form-control" id="b_type" name="b_type" value="{$res['b_type']}">
                    <p id='p4' style="padding-left: 15px"></p>
                </div>
                <div class="form-group">
                    <label for="b_email">邮箱</label>
                    <input type="email" class="form-control" id="b_email" name="b_email" value="{$res['b_email']}">
                    <p id='p5' style="padding-left: 15px"></p>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">上传logo</label>
                    <input type="file" name="b_logo" id="exampleInputFile">
                </div>
                <input type="submit" class="btn btn-success" value="确认修改">
            </form>

            <form id="form3" method="post" action="{:url('admin/BusInfo/pass',['id'=>$res['b_id']])}" enctype="multipart/form-data" onsubmit='return checkPass()'>
                <input type="hidden" name="__token__" value="{$Request.token}">
                <div class="form-group">
                    <label for="b_name">原密码</label>
                    <input type="password" class="form-control" id="old_pass" name="old_pass">
                    <p id='p6' style="padding-left: 15px"></p>
                </div>
                <div class="form-group">
                    <label for="b_username">新密码</label>
                    <input type="password" class="form-control" id="new_pass" name="new_pass">
                    <p id='p7' style="padding-left: 15px"></p>
                </div>
                <div class="form-group">
                    <label for="b_phone">确认密码</label>
                    <input type="password" class="form-control" id="re_pass" name="re_pass">
                    <p id='p8' style="padding-left: 15px"></p>
                </div>
                <input type="submit" class="btn btn-success" value="确认修改">
            </form>
        </div>
    </div>
</div>
<!--main end-->
{/block}

{block name='myjs'}

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/app/admin/js/jquery-1.10.2.min.js"></script>
<script src="/static/app/admin/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/app/admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/app/admin/js/bootstrap.min.js"></script>
<script src="/static/app/admin/js/modernizr.min.js"></script>
<script src="/static/app/admin/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="/static/app/admin/js/easypiechart/jquery.easypiechart.js"></script>
<script src="/static/app/admin/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="/static/app/admin/js/sparkline/jquery.sparkline.js"></script>
<script src="/static/app/admin/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="/static/app/admin/js/iCheck/jquery.icheck.js"></script>
<script src="/static/app/admin/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="/static/app/admin/js/flot-chart/jquery.flot.js"></script>
<script src="/static/app/admin/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="/static/app/admin/js/flot-chart/jquery.flot.resize.js"></script>


<!--Morris Chart-->
<script src="/static/app/admin/js/morris-chart/morris.js"></script>
<script src="/static/app/admin/js/morris-chart/raphael-min.js"></script>

<!--Calendar-->
<script src="/static/app/admin/js/calendar/clndr.js"></script>
<script src="/static/app/admin/js/calendar/evnt.calendar.init.js"></script>
<script src="/static/app/admin/js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

<!--common scripts for all pages-->
<script src="/static/app/admin/js/scripts.js"></script>

<!--Dashboard Charts-->
<script src="/static/app/admin/js/dashboard-chart-init.js"></script>

<script src="/static/app/admin/js/toastr.min.js"></script>
<script>
    $(function(){
        form1.style.display='none';
        form3.style.display='none';
        $('#edit').click(function(){
            form1.style.display='block';
            form2.style.display='none';
            form3.style.display='none';
        });
        $('#info').click(function(){
            form1.style.display='none';
            form2.style.display='block';
            form3.style.display='none';
        });
        $('#editpass').click(function(){
            form1.style.display='none';
            form2.style.display='none';
            form3.style.display='block';
        });

    });
    //    //验证表单更新的数据
    //    //失焦事件
    //    $('#b_name').blur(function(){
    //        console.log($('#b_name').val());
    //        p1.innerHTML = ' × 请输入1-12位的数字、字母或下划线组成的店铺名字';
    //        p1.style.color = 'red';
    //        if($(this).value().match(/^\w{1,12}$/)===null){
    //            p1.innerHTML = ' × 请输入1-12位的数字、字母或下划线组成的店铺名字';
    //            p1.style.color = 'red';
    //        }
    //    });

    function checkForm() {
        var name = document.getElementById('b_name').value;
        var p1 = document.getElementById('p1');
        //验证店铺名称是否满足正则条件 +出现1次或多次
        if (name.match(/^\w{1,12}$/) === null||empty(name)) {
            p1.innerHTML = ' × 请输入1-12位的数字、字母或下划线组成的店铺名字';
            p1.style.color = 'red';
            return false;
        }else{
            p1.style.color = '#0a0';
            p1.innerHTML = '√ ';
        }

        var person=document.getElementById('b_username').value;
        var p2=document.getElementById('p2');
        //验证负责人是否符合 6-12位的数字字母下划线
        if (person.match(/^\w{1,12}$/)===null) {
            p2.innerHTML='× 请输入1-12位的数字、字母或下划线组成的名字';
            p2.style.color='red';
            return false;
        }else{
            p2.style.color = '#0a0';
            p2.innerHTML = '√ ';
        }
        //手机号
        var phone=document.getElementById('b_phone').value;
        var p3=document.getElementById('p3');
        if (phone.match(/^\d{11}$/)===null) {
            p3.innerHTML=' × 请输入11位数字的手机号码';
            p3.style.color='red';
            return false;
        }else{
            p3.style.color = '#0a0';
            p3.innerHTML = '√ ';
        }
        //邮箱
        var email=document.getElementById('b_email').value;
        var p5=document.getElementById('p5');
        if(!empty(email)){
            if (email.match(/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/)===null) {
                p5.innerHTML=' × 请输入正确的email地址,至少包含@ .';
                p5.style.color='red';
                return false;
            }else{
                p5.style.color = '#0a0';
                p5.innerHTML = '√ ';
            }
        }

    }
    function checkPass(){
        //密码
        var pass=document.getElementById('new_pass').value;
        var p7=document.getElementById('p7');
        //验证密码是否符合 6-18位的数字
        if (pass.match(/^\w{6,18}$/)===null) {
            p7.innerHTML=' × 请输入6-18位的数字、字母或下划线组成的密码';
            p7.style.color='red';
            return false;
        }else{
            p7.style.color = '#0a0';
            p7.innerHTML = '√ ';
        }
        //确认密码
        var repass=document.getElementById('re_pass').value;
        var pass=document.getElementById('inputPass').value;
        var p3=document.getElementById('p3');
        //验证密码是否符合 6-18位的数字
        if (pass.match(/^\w{6,18}$/)===null) {
            p3.innerHTML=' × 请输入6-18位的数字、字母或下划线组成的密码';
            p3.style.color='red';
            return false;
        }else{
            p3.style.color = '#0a0';
            p3.innerHTML = '√ ';
        }
        //确认密码
        var repass=document.getElementById('inputRepass').value;
        var p8=document.getElementById('p8');
        if (pass!==repass) {
            p8.innerHTML=' × 两次输入不一致';
            p8.style.color='red';
            return false;
        }else{
            p8.style.color = '#0a0';
            p8.innerHTML = '√ ';
        }
    }
</script>
{/block}                                                                                                       