
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>美丽乡村后台管理系统</title>

    <!--icheck-->
    <link href="/static/app/admin/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/minimal/red.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/minimal/green.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/minimal/blue.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/minimal/yellow.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/minimal/purple.css" rel="stylesheet">

    <link href="/static/app/admin/js/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/square/green.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/square/blue.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/square/yellow.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/square/purple.css" rel="stylesheet">

    <link href="/static/app/admin/js/iCheck/skins/flat/grey.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/flat/red.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/flat/blue.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/flat/yellow.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/flat/purple.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/app/admin/js/jquery-multi-select/css/multi-select.css" />

    <!--file upload-->
    <link rel="stylesheet" type="text/css" href="/static/app/admin/css/bootstrap-fileupload.min.css" />

    <!--tags input-->
    <link rel="stylesheet" type="text/css" href="/static/app/admin/js/jquery-tags-input/jquery.tagsinput.css" />


    <link href="/static/app/admin/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="/static/app/admin/js/iCheck/skins/square/blue.css" rel="stylesheet">
    <link href="/static/app/admin/css/toastr.min.css" rel="stylesheet">
    <link href="/static/app/admin/css/reset.css" rel="stylesheet">

    <!--dashboard calendar-->
    <link href="/static/app/admin/css/clndr.css" rel="stylesheet">

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="/static/app/admin/js/morris-chart/morris.css">

    <!--common-->
    <link href="/static/app/admin/css/style.css" rel="stylesheet">
    <link href="/static/app/admin/css/style-responsive.css" rel="stylesheet">

    <!--饼状图-->
    <!--<link href="/static/app/admin/css/default.css" rel="stylesheet">-->
    <link href="/static/app/admin/css/reset_count.css" rel="stylesheet">
    <!--总计-->
    <link rel='stylesheet prefetch' href='/static/app/admin/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/static/app/admin/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="/static/app/admin/css/normalize.css" media="screen" type="text/css" />
    <!--<link rel="stylesheet" href="/static/app/admin/css/bootstrap.css" media="screen" type="text/css" />-->
    <!--<link rel="stylesheet" href="/static/app/admin/css/bootstrap.min.css" media="screen" type="text/css" />-->



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/statuc/admin/js/html5shiv.js"></script>
    <script src="/statuc/admin/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="index.html"><img src="/static/app/admin/images/1111.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="/static/app/admin/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only -->
             <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="/static/app/admin/images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                    <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="{:url('/admin')}"><i class="fa fa-bar-chart-o"></i> <span>首页</span></a>
                </li>
                <!--<li class="active"><a href="index.html"><i class="fa fa-home"></i> <span>控制列表</span></a></li>-->
                <li><a href="{:url('admin/Carousel/index')}"><i class="fa fa-laptop"></i><span>轮播图管理</span></a></li>
                <li><a href="{:url('admin/Comment/index')}"><i class="fa fa-bullhorn"></i> <span>评论管理</span></a></li>
                <li><a href="{:url('admin/Users/index')}"><i class="fa fa-bullhorn"></i> <span>用户管理</span></a></li>
                <li><a href="{:url('admin/buspower/index')}"><i class="fa fa-cogs"></i>商铺管理</a></li>
                <li><a href="{:url('admin/link/index')}"><i class="fa fa-book"></i> <span>友情链接</span></a></li>
                <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>管理员管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{:url('admin/user/index')}">管理员列表</a></li>
                      <!--   <li><a href="{:url('admin/user/password')}">管理员密码修改</a></li> -->
                        <li><a href="{:url('admin/cate/index')}">管理员权限管理</a></li>
                        <li><a href="{:url('admin/node/index')}"> 管理员节点管理</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>活动管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{:url('admin/ActivitiesAdminCate/read',['id'=>'2'])}">活动分类管理</a></li>
                    </ul>
                    <ul class="sub-menu-list">
                        <li><a href="{:url('admin/ActivitiesAdminList/index')}">活动列表</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>住宿管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{:url('admin/Hotelcate/read',['id'=>'4'])}">住宿分类管理</a></li>
                    </ul>
                    <ul class="sub-menu-list">
                        <li><a href="{:url('admin/Hotellist/index')}">住宿列表</a></li>
                    </ul>
                </li>


                <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>旅游路线管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{:url('admin/Routescate/read',['id'=>'5'])}">旅游路线分类管理</a></li>
                    </ul>
                    <ul class="sub-menu-list">
                        <li><a href="{:url('admin/Routeslist/index')}">旅游路线列表</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>特产美食</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{:url('admin/Foodcate/read',['id'=>'6'])}">分类管理</a></li>
                    </ul>
                    <ul class="sub-menu-list">
                        <li><a href="{:url('admin/Foodlist/index')}">商品列表</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>景区管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{:url('admin/Scenerycate/read',['id'=>'1'])}">景区分类管理</a></li>
                    </ul>
                    <ul class="sub-menu-list">
                        <li><a href="{:url('admin/Scenerylist/index')}">景区列表</a></li>
                    </ul>
                </li>

                <li><a href="{:url('admin/index/loginexit')}"><i class="fa fa-sign-in"></i> <span>安全退出</span></a></li>

            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--&lt;!&ndash;search start&ndash;&gt;-->
            <!--<form class="searchform" action="index.html" method="post">-->
                <!--<input type="text" class="form-control" name="keyword" placeholder="Search here..." />-->
            <!--</form>-->
            <!--&lt;!&ndash;search end&ndash;&gt;-->
            <br>
            　　<a href="javascript:history.go(-1)" class=" btn-info btn-lg">返回上一页</a>
            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            管理员角色:{$login_role}
                        </a>
                    </li>
                    <li>

                        <a href="{:url('admin/index/loginexit')}" class="btn btn-default mt10">
                           退出登录
                        </a>
                    </li>

                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" >
                            <img src="/uploads/{$login_data['0']['photo']}" alt="" />
                            {$login_data['0']['username']}
                            <span class="caret"></span>
                        </a>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->
        {block name="main"}
        <!--<body class="sticky-header">-->

        <section>

            <div class="container-fluid">
                <div class="page-heading mt20">
                    <h3>
                        网站数据统计
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{:url('/chartjs')}">首页</a>
                        </li>
                        <li class="active"> 统计 </li>
                    </ul>
                </div>

                <div class="wraper">
                    <div class="row">
                        <!--总计-->
                        <div class="col-sm-12" style="margin-top: 20px">
                            <section class="panel">
                                <div class="counter col_fourth" style="float:left;margin-left:100px;text-align: center">
                                    <!--<i class="fa fa-code fa-2x"></i>-->
                                    <img src="/static/app/admin/images/count/count.png" width="30">
                                    <h2 class="timer count-title" id="count-number" data-to="{$view}" data-speed="1500"></h2>
                                    <p class="count-text ">历史访问量</p>
                                </div>

                                <div class="counter col_fourth" style="float:left;margin-left:110px;text-align: center">
                                    <!--<i class="fa fa-coffee fa-2x"></i>-->
                                    <img src="/static/app/admin/images/count/user.png" width="30">
                                    <h2 class="timer count-title" id="count-number" data-to="{$register}" data-speed="1500"></h2>
                                    <p class="count-text ">历史注册人数</p>
                                </div>

                                <div class="counter col_fourth end" style="float:left;margin-left:110px;text-align: center">
                                    <!--<i class="fa fa-bug fa-2x"></i>-->
                                    <img src="/static/app/admin/images/count/bus.png" width="30">
                                    <h2 class="timer count-title" id="count-number" data-to="{$bus}" data-speed="1500"></h2>
                                    <p class="count-text ">入驻商家</p>
                                </div>

                                <div class="counter col_fourth" style="float:left;margin-left:110px;text-align: center">
                                    <!--<i class="fa fa-lightbulb-o fa-2x"></i>-->
                                    <img src="/static/app/admin/images/count/countmoney.png" width="30">
                                    <h2 class="timer count-title" id="count-number" data-to="{$trade}" data-speed="1500"></h2>
                                    <p class="count-text ">历史交易量</p>
                                </div>

                                <div class="counter col_fourth end" style="float:left;margin-left:110px;text-align: center">
                                    <!--<i class="fa fa-bug fa-2x"></i>-->
                                    <img src="/static/app/admin/images/count/money.png" width="30">
                                    <h2 class="timer count-title" id="count-number" data-to="{$total}" data-speed="1500"></h2>
                                    <p class="count-text ">历史交易金额</p>
                                </div>


                            </section>
                        </div>
                        <!--用户统计-->
                        <div class="col-sm-6" style="margin-top: 20px">
                            <section class="panel">
                                <header class="panel-heading">
                                    用户统计
                                    <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                                </header>
                                <div class="panel-body" style="height: 630px">
                                    <div id="content" style="height: 520px">

                                        <div class="legend">

                                            <!--<h1>Legend:</h1>-->

                                            <div class="skills">

                                                <!--<ul>-->

                                                <!--<li class="jq">今日访问量</li>-->

                                                <!--<li class="css">CSS3</li>-->

                                                <!--<li class="html">HTML5</li>-->

                                                <!--<li class="php">PHP</li>-->

                                                <!--<li class="sql">MySQL</li>-->

                                                <!--</ul>-->

                                            </div>

                                        </div>

                                        <div id="diagram"></div>

                                    </div>



                                    <div class="footer">

                                        <div class="inside">



                                        </div>

                                    </div>



                                    <div class="get">


                                        <div class="arc">

                                            <span class="text">性别未知用户</span><span>：{$nsecrecy}</span>

                                            <input type="hidden" class="percent" value="{:round($nsecrecy)}" />

                                            <input type="hidden" class="color" value="#97BE0D" />

                                        </div>

                                        <div class="arc">

                                            <span class="text">男性用户</span><span>：{$nmale}</span>

                                            <input type="hidden" class="percent" value="{:round($male)}" />

                                            <input type="hidden" class="color" value="#D84F5F" />

                                        </div>

                                        <div class="arc">

                                            <span class="text">女性用户</span><span>：{$nfemale}</span>

                                            <input type="hidden" class="percent" value="{:round($female)}" />

                                            <input type="hidden" class="color" value="#88B8E6" />

                                        </div>

                                        <!--<div class="arc">-->

                                        <!--<span class="text"></span>-->

                                        <!--<input type="hidden" class="percent" value="{$secrecy}" />-->

                                        <!--<input type="hidden" class="color" value="#BEDBE9" />-->

                                        <!--</div>-->

                                        <!--<div class="arc">-->

                                        <!--&lt;!&ndash;<span class="text">MySQL</span>&ndash;&gt;-->

                                        <!--<input type="hidden" class="percent" value="45" />-->

                                        <!--<input type="hidden" class="color" value="#EDEBEE" />-->

                                        <!--</div>-->

                                    </div>

                                </div>
                            </section>
                        </div>
                        <!--访问量统计-->
                        <div class="col-sm-6" style="margin-top: 20px">
                            <section class="panel">
                                <header class="panel-heading">
                                    访问量
                                    <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                                </header>
                                <div class="panel-body">
                                    <div id="main3" style="height:400px; width:400px;margin:0 auto;"></div>
                                    <span style="display: none;" id="tview">{$tview}</span>
                                    <span style="display: none;" id="yview">{$yview}</span>
                                    <span style="display: none;" id="wview">{$wview}</span>
                                    <span style="display: none;" id="mview">{$mview}</span>
                                </div>
                            </section>
                        </div>
                        <!--注册量统计-->
                        <div class="col-sm-6" style="margin-top: 20px">
                            <section class="panel">
                                <header class="panel-heading">
                                    注册量
                                    <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                                </header>
                                <div class="panel-body">
                                    <div id="main4" style="height:400px; width:400px;margin:0 auto;"></div>
                                    <span style="display: none;" id="tregister">{$tregister}</span>
                                    <span style="display: none;" id="yregister">{$yregister}</span>
                                    <span style="display: none;" id="wregister">{$wregister}</span>
                                    <span style="display: none;" id="mregister">{$mregister}</span>
                                </div>
                            </section>
                        </div>
                        <!--产品销量统计-->
                        <div class="col-sm-6" style="margin-top: 20px">
                            <section class="panel">
                                <header class="panel-heading">
                                    产品销量
                                    <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                                </header>
                                <div class="panel-body">
                                    <div id="main" style="height:400px; width:400px;margin:0 auto;"></div>
                                    <span style="display: none;" id="active">{$active}</span>
                                    <span style="display: none;" id="hotel">{$hotel}</span>
                                    <span style="display: none;" id="route">{$route}</span>
                                    <span style="display: none;" id="food">{$food}</span>
                                    <span style="display: none;" id="scenery">{$scenery}</span>
                                </div>
                            </section>
                        </div>
                        <!--产品时间交易量-->
                        <div class="col-sm-6" style="margin-top: 20px">
                            <section class="panel">
                                <header class="panel-heading">
                                    交易量
                                    <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                                </header>
                                <div class="panel-body">
                                    <div id="main1" style="height:400px; width:400px;margin:0 auto;"></div>
                                    <span style="display: none;" id="ttrade">{$ttrade}</span>
                                    <span style="display: none;" id="ytrade">{$ytrade}</span>
                                    <span style="display: none;" id="wtrade">{$wtrade}</span>
                                    <span style="display: none;" id="mtrade">{$mtrade}</span>
                                </div>
                            </section>
                        </div>
                        <!--交易金额统计-->
                        <div class="col-sm-6" style="margin-top: 20px">
                            <section class="panel">
                                <header class="panel-heading">
                                    交易金额
                                    <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                                </header>
                                <div class="panel-body">
                                    <div id="main2" style="height:400px; width:400px;margin:0 auto;"></div>
                                    <span style="display: none;" id="ttotal">{$ttotal}</span>
                                    <span style="display: none;" id="ytotal">{$ytotal}</span>
                                    <span style="display: none;" id="wtotal">{$wtotal}</span>
                                    <span style="display: none;" id="mtotal">{$mtotal}</span>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main content end-->
        </section>
        {/block}

        <!--footer section start-->
        <footer>
            2017 &copy; AdminEx by <a href="{:url('index/index/index')}" target="_blank">美丽乡村</a>
        </footer>
        <!--footer section end-->


    </div>
</section>
    <!-- main content end-->


{block name="myjs"}
<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/app/admin/js/jquery-1.10.2.min.js"></script>
<script src="/static/app/admin/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/app/admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/app/admin/js/bootstrap.min.js"></script>
<script src="/static/app/admin/js/modernizr.min.js"></script>
<script src="/static/app/admin/js/jquery.nicescroll.js"></script>

<!--&lt;!&ndash;easy pie chart&ndash;&gt;-->
<!--<script src="/static/app/admin/js/easypiechart/jquery.easypiechart.js"></script>-->
<!--<script src="/static/app/admin/js/easypiechart/easypiechart-init.js"></script>-->

<!--&lt;!&ndash;Sparkline Chart&ndash;&gt;-->
<!--<script src="/static/app/admin/js/sparkline/jquery.sparkline.js"></script>-->
<!--<script src="/static/app/admin/js/sparkline/sparkline-init.js"></script>-->

<!--&lt;!&ndash;icheck &ndash;&gt;-->
<!--<script src="/static/app/admin/js/iCheck/jquery.icheck.js"></script>-->
<!--<script src="/static/app/admin/js/icheck-init.js"></script>-->

<!--&lt;!&ndash; jQuery Flot Chart&ndash;&gt;-->
<!--<script src="/static/app/admin/js/flot-chart/jquery.flot.js"></script>-->
<!--<script src="/static/app/admin/js/flot-chart/jquery.flot.tooltip.js"></script>-->
<!--<script src="/static/app/admin/js/flot-chart/jquery.flot.resize.js"></script>-->


<!--Morris Chart-->
<!--<script src="/static/app/admin/js/morris-chart/morris.js"></script>-->
<!--<script src="/static/app/admin/js/morris-chart/raphael-min.js"></script>-->

<!--&lt;!&ndash;Calendar&ndash;&gt;-->
<!--<script src="/static/app/admin/js/calendar/clndr.js"></script>-->
<!--<script src="/static/app/admin/js/calendar/evnt.calendar.init.js"></script>-->
<!--<script src="/static/app/admin/js/calendar/moment-2.2.1.js"></script>-->
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>-->

<!--&lt;!&ndash;common scripts for all pages&ndash;&gt;-->
<!--<script src="/static/app/admin/js/scripts.js"></script>-->

<!--&lt;!&ndash;Dashboard Charts&ndash;&gt;-->
<!--<script src="/static/app/admin/js/dashboard-chart-init.js"></script>-->

<!--Chart JS-->
<script src="/static/app/admin/js/chart-js/Chart.js"></script>
<script src="/static/app/admin/js/chart-js/chartjs.init.js"></script>

<!--common scripts for all pages-->
<script src="/static/app/admin/js/scripts.js"></script>
<!--饼状图插件-->
<script src="/static/app/admin/js/init.js"></script>
<script src="/static/app/admin/js/jquery.js"></script>
<script src="/static/app/admin/js/raphael.js"></script>
<!--统计-->
<script src="/static/app/admin/js/echarts.js"></script>
<script src="/static/app/admin/js/1-6-10.esl.js"></script>
<!--总计-->
<script src='/static/app/admin/js/jquery.js'></script>
<script src="/static/app/admin/js/index.js"></script>
<script>
    // 路径配置
    require.config({
        paths:{
            'echarts' : '/static/app/admin/js/echarts',
            'echarts/chart/pie' : '/static/app/admin/js/echarts'
        }
    });

    // 统计各类产品销量
    require(
        [
            'echarts',
            'echarts/chart/pie' // 使用柱状图就加载bar模块，按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var myChart = ec.init(document.getElementById('main'));
            var active = $('#active').text();
            var hotel = $('#hotel').text();
            var food = $('#food').text();
            var route = $('#route').text();
            var scenery = $('#scenery').text();

            var option = {
                title : {
                    text: '',
                    subtext: '',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data:[]
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'网站数据',
                        type:'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[
                            {value:active, name:'活动'},
                            {value:hotel, name:'酒店住宿'},
                            {value:route, name:'旅游路线'},
                            {value:scenery, name:'景区门票'},
                            {value:food, name:'特产美食'}
                        ]
                    }
                ]
            };


            myChart.setOption(option);
        }
    );

    //    统计时间单位交易量
    require(
        [
            'echarts',
            'echarts/chart/pie' // 使用柱状图就加载bar模块，按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var myChart = ec.init(document.getElementById('main1'));
            var ttrade = $('#ttrade').text();
            var ytrade = $('#ytrade').text();
            var wtrade = $('#wtrade').text();
            var mtrade = $('#mtrade').text();

            var option = {
                title : {
                    text: '',
                    subtext: '',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data:[]
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'网站数据',
                        type:'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[
                            {value:ttrade, name:'今日交易量'},
                            {value:ytrade, name:'昨日交易量'},
                            {value:wtrade, name:'一周交易量'},
                            {value:mtrade, name:'月交易量'},
                        ]
                    }
                ]
            };


            myChart.setOption(option);
        }
    );

    //    统计交易金额
    require(
        [
            'echarts',
            'echarts/chart/pie' // 使用柱状图就加载bar模块，按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var myChart = ec.init(document.getElementById('main2'));
            var ttotal = $('#ttotal').text();
            var ytotal = $('#ytotal').text();
            var wtotal = $('#wtotal').text();
            var mtotal = $('#mtotal').text();

            var option = {
                title : {
                    text: '',
                    subtext: '',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data:[]
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'网站数据',
                        type:'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[
                            {value:ttotal, name:'今日交易额'},
                            {value:ytotal, name:'昨日交易额'},
                            {value:wtotal, name:'一周交易额'},
                            {value:mtotal, name:'月交易额'},
                        ]
                    }
                ]
            };


            myChart.setOption(option);
        }
    );

    //    统计访问量
    require(
        [
            'echarts',
            'echarts/chart/pie' // 使用柱状图就加载bar模块，按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var myChart = ec.init(document.getElementById('main3'));
            var tview = $('#tview').text();
            var yview = $('#yview').text();
            var wview = $('#wview').text();
            var mview = $('#mview').text();

            var option = {
                title : {
                    text: '',
                    subtext: '',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data:[]
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'网站数据',
                        type:'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[
                            {value:tview, name:'今日访问量'},
                            {value:yview, name:'昨日访问量'},
                            {value:wview, name:'一周访问量'},
                            {value:mview, name:'月访问量'},
                        ]
                    }
                ]
            };


            myChart.setOption(option);
        }
    );

    //    统计注册量
    require(
        [
            'echarts',
            'echarts/chart/pie' // 使用柱状图就加载bar模块，按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var myChart = ec.init(document.getElementById('main4'));
            var tregister = $('#tregister').text();
            var yregister = $('#yregister').text();
            var wregister = $('#wregister').text();
            var mregister = $('#mregister').text();

            var option = {
                title : {
                    text: '',
                    subtext: '',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data:[]
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'网站数据',
                        type:'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[
                            {value:tregister, name:'今日注册量'},
                            {value:yregister, name:'昨日注册量'},
                            {value:wregister, name:'一周注册量'},
                            {value:mregister, name:'月注册量'},
                        ]
                    }
                ]
            };


            myChart.setOption(option);
        }
    );
</script>
{/block}
</body>

</html>
