{extend name="index/index" /}
{block name="main"}
        <!--Course Grid Wrap Start-->
        <section class="gt_courses_bg">
            <div class="container">
                <div class="bg_white gt_team_border gt_team_padding default_width mb30">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="gt_team_d_img default_width">
                                <img src="/uploads/{$data.o_photo}" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="gt_team_d_outer default_width">
                                <div class="gt_team_d_title">
                                    <h4>请确认您的订单</h4>
                                    <p>酒店预订确认页</p>
                                </div>

                            </div>
                            <div class="gt_team_d_des default_width">
                                <p>名称:{$data.o_gname}</p>
                                <p>入住人数:{$data.o_num}</p>
                                <p>单价:{$data.o_price}</p>
                                <p>合计:{$data.o_total}</p>
                                <p>入住时间:{:substr($data.intime,0,10)
                                    }</p>
                                <p>离店时间:{:substr($data.intime,14,10)
                                    }</p>
                                <p>登记人:{$data.inname}</p>
                                <p>联系方式:{$data.inphone}</p>
                                <ul>
                                    <li>

                                        <div class="gt_contact_des">
                                            <a href="{:url('/weixinplay')}" class="btn btn-success"><font color="white">确认支付</font></a>
                                        </div>
                                    </li>
                                    <li>

                                        <div class="gt_contact_des">
                                            <a href="index/index/index" class="btn btn-danger"><font color="white">取消订单</font></a>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </section>
        <!--Course Grid Wrap End-->
    <!--Main Content Wrap End-->


        {/block}

{block name="myjs"}
<!--Jquery Library-->
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<!--Bootstrap core JavaScript-->
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<!--Chosen JavaScript-->
<script src="js/chosen.jquery.min.js"></script>
<!--Custom JavaScript-->
<script src="js/custom.js"></script>
{/block}
