{extend name="index/index"}


{block name="main"}    <!--Sub Banner Wrap Start -->
<div class="gt_sub_banner_bg default_width">
    <div class="container">
        <div class="gt_sub_banner_hdg  default_width">
            <h2>住宿详情页</h2>
            <h6>欢迎来到还没名字的网站~</h6>
        </div>
    </div>
</div>
<!--Sub Banner Wrap End -->
<!--Breadcrumb Wrap End -->
<div class="gt_breadcrumb_bg default_width">
    <div class="container">
        <div class="gt_breadcrumb_wrap default_width">
            <ul>
                <li><a href="{:url('index/index/index')}">首页</a></li>
                <li><a href="{:url('index/goodsInfo/detail')}">住宿详情页</a></li>
            </ul>
        </div>
    </div>
</div>
<!--Breadcrumb Wrap End -->

<!--Content Wrap Start-->
<div class="gt_main_content_wrap">
    <!--Shop Wrap Start-->
    <section class="gt_shop_detail_bg gt_courses_bg">
        <div class="container">
            <div class="gt_product_detail_border_wrap">
                <div class=""><h3 class="h3">{$hotels.gd_title}</h3></div>
                <hr>
                <div class="">
                    <span class="glyphicon glyphicon-flag"></span>
                    <span class="ml20">{$detail.gd_address}</span>
                </div>
                <br>
                <div class="">
                    <span class="glyphicon glyphicon-earphone"></span>
                    <span class="ml20">{$detail.gd_phone}</span>
                </div>
                <br>
                <div class="">
                    <span style="color: #2DCC70;">服务</span>
                    <span class="ml20">
                        {if condition="$detail.is_wifi eq 1"}
                        <img src="/static/app/index/images/wifi.png" width="20" alt="" style="display: inline">
                        {/if}
                    </span>
                    <span class="ml20">
                        {if condition="$detail.is_park eq 1"}
                        <img src="/static/app/index/images/park.png" width="17" alt="" style="display: inline">
                        {/if}
                    </span>
                </div>
                <hr>
                <!--<br>-->
                <!--图片展示-->
                <div class="sec bnspic">
                    <div class="big_pic">
                        <ul>
                            {volist name="photos" id="p"}
                            <li class="on"><a href="javascript:void(0);">
                                <img src="/uploads/{$p.pic}" title="" />
                                <span class="txt"></span></a>
                            </li>
                            {/volist}
                        </ul>
                    </div><!-- /big_pic -->
                    <div class="small_pic clearfix">
                        <ul>
                            {volist name="photos" id="v"}
                            <li class="on"><a href="javascript:void(0);"><img src="/uploads/{$v.pic}" alt="图片说明" /></a></li>
                            {/volist}
                        </ul>
                    </div><!-- /small_pic -->
                </div><!--图片展示-->
                <div class="clearfix"></div>
                <br>
                <!--房间选择-->
                <div class="">
                    <h4 class="h4" style="color: #2DCC70;">住宿</h4>
                    <form action="{:url('index/hotel/save')}" method="post">
                        <input type="hidden" name="bid" value="{$hotels['bus_id']}">
                        <input type="hidden" name="cid" value="{$hotels['id']}">
                        <input type="hidden" name="gname" value="{$hotels['gd_title']}">
                        <input type="hidden" name="roomType" value="{$hotels['gd_abstract']}">
                        <input type="hidden" name="price" value="{$detail['gd_price']}">
                        <input type="hidden" name="discount" value="{$detail['gd_discount']}">
                        {volist name="photos" id="p"}
                        {if condition='$p.is_first eq 1'}
                        <input type="hidden" name="photo" value="{$p.pic}">
                        {/if}
                        {/volist}

                    <table class="table table-hover">
                        <tr>
                            <th style="text-align: center">- 房间类型 -</th>
                            <th class="col-sm-2" style="text-align: center">- 挂牌价 -</th>
                            <th class="col-sm-2" style="text-align: center">- 会员价 -</th>
                            <th class="col-sm-2" style="text-align: center">- 预订 -</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;line-height: 40px">{$hotels['gd_abstract']}</td>
                            <td style="text-align: center;line-height: 40px">¥ {$detail['gd_price']}</td>
                            <td style="text-align: center;line-height: 40px;color: #FF8C00;">¥ {$detail['gd_discount']}</td>
                            <td style="text-align: center;line-height: 40px">
                                <button class="btn" type="submit" style="background-color:#FF8C00;color: #ffffff;">预订</button>
                            </td>
                        </tr>
                    </table>
                    </form>
                </div>
            </div>
        </div>


<!--Product Tab Des Wrap Start-->
<div class="container">
<div class="gt_product_detail_border_wrap">
    <div class="gt_shop_tab_outer_wrap">
        <div class="gt_shop_tab_link">
            <ul id="tabs" data-tabs="tabs">
                <li class="active"><a data-toggle="tab" href="#product_detail">酒店详情</a></li>
                <li><a data-toggle="tab" href="#sepecfication">评论({:count($comment)})</a></li>
                <!--<li><a data-toggle="tab" href="#customer_review">交通指引</a></li>-->
            </ul>
        </div>

        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="product_detail">
                <div class="gt_shop_tab_des">
                    <p>{$detail['gd_details']}</p>
                </div>
            </div>
            <div class="tab-pane" id="sepecfication">
                <div class="gt_shop_tab_des">
                    {if condition="!empty($comment)"}
                    {volist name='comment' id='cv'}
                    <div class="container">
                        <div class="row" style="text-align: center;margin-top:15px;">
                            <div class="col-md-4">
                                <div class="col-md-3 col-md-offset-3" >
                                    <img src="/uploads/headPhoto/{$cv['ud_photo']}" class="img-circle" width="60">
                                </div>
                                <div class="col-md-3" style="margin-top:15px;">{$cv['u_username']}</div>
                            </div>
                            <div class="col-md-3 " style="margin-top:15px;">
                                {$cv['c_text']}
                            </div>
                            <div class="col-md-2 " style="margin-top:15px;">
                                {switch name=$cv['c_score']}
                                {case value="1"}<span class="glyphicon glyphicon-star"></span>{/case}
                                {case value="2"}<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>{/case}
                                {case value="3"}<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>{/case}
                                {case value="4"}<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>{/case}
                                {case value="5"}<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>{/case}
                                {default /}default
                                {/switch}
                            </div>
                            <div class="col-md-2 " style="margin-top:15px;">
                                {$cv['c_time']}
                            </div>
                        </div>
                    </div>
                    {if condition="!empty($cv['c_content'])"}
                    <div class="row" style="text-align: center;margin-top:15px;border-bottom: 1px solid #333;font-size:12px">
                        <div class="col-md-6 col-md-offset-2"><b>商家回应:　</b>{$cv['c_content']}</div>
                        <div class="col-md-4"><b>回复时间:　</b>{$cv['c_atime']}</div>
                    </div>

                    {/if}
                    {/volist}
                    {else/}
                    <h2 style="text-align: center">此商品下暂无用户评论哦~~</h2>
                    {/if}

                </div>
                <nav aria-label="Page navigation" style="margin-left: 940px">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="tab-pane" id="customer_review">
                <div class="gt_shop_tab_des">
                    <p>
                        <!--交通指引信息...-->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--Product Tab Des Wrap End-->

<!--Our Latest Product Wrap Start-->
<!--<div class="container">-->
    <!--&lt;!&ndash;Heading Wrap Start&ndash;&gt;-->
    <!--<div class="gt_hdg_1 default_width">-->
        <!--<h3>看看店铺里的其他商品</h3>-->
        <!--<p>店铺简介...</p>-->
        <!--<span class="gt_hdg_left"></span>-->
        <!--<i class="glyphicon glyphicon-th-large"></i>-->
        <!--<span class="gt_hdg_right"></span>-->
    <!--</div>-->
    <!--&lt;!&ndash;Heading Wrap End&ndash;&gt;-->

    <!--&lt;!&ndash;Product List Style 2 Wrap Start&ndash;&gt;-->
    <!--<div class="row">-->
        <!--<div class="col-md-3 col-sm-6">-->
            <!--<div class="gt_product_outer_wrap gt_shop_style_2_wrap">-->
                <!--<figure>-->
                    <!--<img src="/static/app/index/extra-images/product-01.jpg" alt="">-->
                    <!--<div class="gt_overlay_wrap"></div>-->
                    <!--<figcaption class="gt_product_img_des">-->

                        <!--<p>商品简介...</p>-->
                        <!--<ul class="gt_product_ui_element">-->
                            <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
                            <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                        <!--</ul>-->
                    <!--</figcaption>-->
                <!--</figure>-->
                <!--<div class="gt_product_des_wrap">-->
                    <!--<h5><a href="#">商品标题</a></h5>-->
                    <!--<p>$66</p>-->
                    <!--<ul class="gt_rating_start">-->
                        <!--<li><a href="#"><i class="fa fa-star"></i></a></li>-->
                        <!--<li><a href="#"><i class="fa fa-star"></i></a></li>-->
                        <!--<li><a href="#"><i class="fa fa-star"></i></a></li>-->
                        <!--<li><a href="#"><i class="fa fa-star"></i></a></li>-->
                        <!--<li><a href="#"><i class="fa fa-star"></i></a></li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="gt_cart_element_wrap">-->
                    <!--<a class="gt_retweet_link" href="#"><i class="fa fa-retweet"></i></a>-->
                    <!--<a class="gt_add_to_cart" href="#">添加到购物车</a>-->
                    <!--<a class="gt_whishlist" href="#"><i class="fa fa-heart"></i></a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;Product List Style 2 Wrap End&ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash;Our Latest Product Wrap End&ndash;&gt;-->
<!--</div>-->
</section>
<!--Shop Wrap End-->
</div>
<!--Content Wrap End-->
{/block}
{block name="myjs"}
<script>
    $(".small_pic li").mouseover(function(){
        $(this).siblings().removeClass("on");
        $(this).addClass("on");
        var preNumber=$(this).prevAll().size()+1;
        $(".big_pic li").removeClass("on");
        $(".big_pic li:nth-child("+preNumber+")").addClass("on");
    });
</script>
{/block}