{extend name="index/index"}
{block name="main"}
    <!--Main Content Wrap Start-->
<div class="gt_sub_banner_bg default_width">
    <div class="container">
        <div class="gt_sub_banner_hdg  default_width">
            <h2>乡村旅游</h2>
            <h6>开始的地方</h6>
        </div>
    </div>
</div>
    <div class="gt_content_wrap">
        <!--Course Grid Wrap Start-->
        <section>
            <div class="container">
                <div class="row">
                    {volist name="list" id="list"}
                    <div class="col-md-4 mb30">
                        <div class="item flip_container">
                            <div class="gt_flip_effect">

                                <div class="gt_team2_wrap">
                                    <img src="/uploads/{$list.pic}" width="300" height="240">
                                    <div class="gt_team2_name">
                                        <h6>美丽乡村</h6>
                                        <h6>名称:{$list.gd_title}</h6>
                                        <span>简介:{$list.gd_abstract}</span>
                                        <p>单价:￥{$list.price}</p>
                                    </div>
                                </div>

                                <div class="gt_team2_des_wrap">
                                    <div class="gt_team2_align_center">
                                        <h6>{$list.gd_title}</h6>
                                        <span>{$list.gd_abstract}</span>
                                        <p> <a href="{:url('/goodsdetail',['id'=>$list.id,'bus_id'=>$list.bus_id,'cid'=>$list.c_id])}"><h4>点击查看详情</h4></a></p>
                                        <!--<ul class="gt_scl_icon">-->
                                            <!--<li><a class="bg_fb" href="#"><i class="fa fa-facebook"></i></a></li>-->
                                            <!--<li><a class="bg_twitter" href="#"><i class="fa fa-twitter"></i></a></li>-->
                                            <!--<li><a class="bg_gp" href="#"><i class="fa fa-google-plus"></i></a></li>-->
                                            <!--<li><a class="bg_linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>-->
                                            <!--<li><a class="bg_behance" href="#"><i class="fa fa-behance"></i></a></li>-->
                                        <!--</ul>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/volist}
{/block}


<!--gt Wrapper End-->
{block name="myjs"}
<!--Jquery Library-->
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<!--Bootstrap core JavaScript-->
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<!--Chosen JavaScript-->
<script src="js/chosen.jquery.min.js"></script>
<!--Custom JavaScript-->
<script src="js/custom.js"></script>
{/block}