{extend name="index/index"}

    
{block name="main"}    <!--Sub Banner Wrap Start -->
    <div class="gt_sub_banner_bg default_width">
        <div class="container">
            <div class="gt_sub_banner_hdg  default_width">
                <h2>路线详情页</h2>
                <h6>欢迎来到还没名字的网站~</h6>
            </div>
        </div>
    </div>
    <!--Sub Banner Wrap End -->
    <!--Breadcrumb Wrap End -->
    <div class="gt_breadcrumb_bg default_width">
      <div class="container">
        <div class="gt_breadcrumb_wrap default_width">
            <ul>
                <li><a href="{:url('index/index/index')}">首页</a></li>
                <li><a href="{:url('index/goodsInfo/detail')}">路线详情页</a></li>
            </ul>
        </div>
      </div>
    </div>
    <!--Breadcrumb Wrap End -->
    
    <!--Content Wrap Start-->
    <div class="gt_main_content_wrap">
    	  <!--Shop Wrap Start-->
        <section class="gt_shop_detail_bg gt_courses_bg">
        	<div class="container">
          	<div class="gt_product_detail_border_wrap">
                <div class="row">
                  <div class="col-md-6">
                      <div class="gt_shop_slider_outer_wrap">
                          <div id="shop_detail_thumnail" class="shop_detail_thumnail">
                              <ul class="slides">
                                  <li>
                                      <img src="/uploads/goodsphoto/" width="140" height="140" />
                                  </li>
                                  <li>
                                      <img src="/uploads/goodsphoto/" width="140" height="140" />
                                  </li>
                                  <li>
                                      <img src="/uploads/goodsphoto/" width="140" height="140" />
                                  </li>
                              </ul>
                          </div>
                          
                          <div class="shop_detaild_slider">
                              <div id="shop_detaild_slider">
                                  <ul class="slides">
                                      <li>
                                          <img src="/uploads/goodsphoto/" width="470" height="470" />
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                    <form action="{:url('index/cart/index')}" method="post">
                    <input type="hidden" name="id" value="">
                    <input type="hidden" name="price" value="">
                  <div class="col-md-6">
                      <div class="gt_shop_detail_banner">
                          <h4>路线标题,xx一日游</h4>
                          <div class="gt_shop_rating_wrap">
                              <ul>
                                  <li><a href="#"><i class="fa fa-star-half-full"></i></a></li>
                                  <li><a href="#"><i class="fa fa-star-half-full"></i></a></li>
                                  <li><a href="#"><i class="fa fa-star-half-full"></i></a></li>
                                  <li><a href="#"><i class="fa fa-star-half-full"></i></a></li>
                                  <li><a href="#"><i class="fa fa-star-half-full"></i></a></li>
                              </ul>
                              <span>推荐</span>
                          </div>
                          <div class="gt_shop_price_wrap">
                              <h4>¥会员价</h4>
                              <span>¥原价</span>
                          </div>
                          <div class="gt_product_detail_des">
                              <h5>路线简介</h5>
                              <p>..... </p>
                          </div>
                          <div class="gt_product_detail_des">
                              <h5>咨询电话</h5>
                              <p>021-xxxxxxx </p>
                          </div>
                          <div class="gt_product_left_wrap">
                              <span>数量:</span>
                              <div id="incdec">
                                  <input type="text" value="1" readonly="readonly" id="num" name="num"/>
                                  <div class="gt_increment">
                                      <button type="button" id="up" >+</button>
                                      <button type="button" id="down" > -</button>
                                  </div>
                              </div>
                          </div>
                          <div class="gt_product_detail_des">
                              <h5>赠送积分</h5>
                              <p>价格x数量 分</p>
                          </div>
          								<div class="gt_product_button_wrap">
          									<button type="submit" class="btn btn-success">添加到购物车</button>
                    </form>
          									<a class="btn btn-success btn-lg">立即购买</a>
          								</div>
                      </div>

                  </div> 
                </div>
              </div>
                
              <!--Product Tab Des Wrap Start-->
              <div class="gt_product_detail_border_wrap">
                  <div class="gt_shop_tab_outer_wrap">
                      <div class="gt_shop_tab_link">
                          <ul id="tabs" data-tabs="tabs">
                              <li class="active"><a data-toggle="tab" href="#product_detail">商品详情</a></li>
                              <li><a data-toggle="tab" href="#sepecfication">评论</a></li>
                              <!--<li><a data-toggle="tab" href="#customer_review">Customer Reviews</a></li>-->
                          </ul>
                      </div>

                      <div id="my-tab-content" class="tab-content">
                          <div class="tab-pane active" id="product_detail">
                              <div class="gt_shop_tab_des">
                                  <p>商品详情...</p>
                              </div>
                          </div>
                          <div class="tab-pane" id="sepecfication">
                              <div class="gt_shop_tab_des">
                                  <table class="table table-striped row" style="text-align: center">
                                      <tr>
                                          <th style="text-align: center" class="col-sm-1"></th>
                                          <th style="text-align: center" class="col-sm-2">用户名</th>
                                          <th style="text-align: center" class="col-sm-6">评论内容</th>
                                          <th style="text-align: center">好评度</th>
                                          <th style="text-align: center">评论时间</th>
                                      </tr>
                                      <tr>
                                          <td style="text-align: center">
                                              <img src="/static/app/index/extra-images/product-01.jpg" class="img-circle" width="70">
                                          </td>
                                          <td style="text-align: center;line-height: 77px">老王</td>
                                          <td style="text-align: center;line-height: 77px">这东西,简直了~</td>
                                          <td style="text-align: center;line-height: 77px">
                                              <span class="glyphicon glyphicon-star"></span>
                                              <span class="glyphicon glyphicon-star"></span>
                                          </td>
                                          <td style="text-align: center;line-height: 77px">2017-08-01,12:30:29</td>
                                      </tr>
                                  </table>

                              </div>
                              <nav aria-label="Page navigation" style="margin-left: 940px">
                                  <ul class="pagination">
                                      <li>
                                          <a href="#" aria-label="Previous">
                                              <span aria-hidden="true">&laquo;</span>
                                          </a>
                                      </li>
                                      <li><a href="#">1</a></li>
                                      <li><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                      <li>
                                          <a href="#" aria-label="Next">
                                              <span aria-hidden="true">&raquo;</span>
                                          </a>
                                      </li>
                                  </ul>
                              </nav>
                          </div>
                          
                          <div class="tab-pane" id="customer_review">
                              <div class="gt_shop_tab_des">
                                  <ul>
                                      <li>
                                          <div class="gt_product_name">Product dimension  </div>
                                          <div class="gt_product_name_des">67 x 37 inches : 21 Pound</div>
                                      </li>
                                      
                                      <li>
                                          <div class="gt_product_name">origin </div>
                                          <div class="gt_product_name_des">China</div>
                                      </li>
                                      
                                      <li>
                                          <div class="gt_product_name">Asin  </div>
                                          <div class="gt_product_name_des">BOO4QM22HC</div>
                                      </li>
                                      
                                      <li>
                                          <div class="gt_product_name">item Model Number  </div>
                                          <div class="gt_product_name_des"> B41412 </div>
                                      </li>  
                                  </ul>
                                  <p>商品详情</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!--Product Tab Des Wrap End-->
			
      				<!--Our Latest Product Wrap Start-->
      				<div class="container">
      					<!--Heading Wrap Start-->
                <div class="gt_hdg_1 default_width">
                  <h3>看看店铺里的其他商品</h3>
                  <p>店铺简介...</p>
                    <span class="gt_hdg_left"></span>
                    <i class="glyphicon glyphicon-th-large"></i>
                    <span class="gt_hdg_right"></span>
                </div>
                <!--Heading Wrap End-->
					
      					<!--Product List Style 2 Wrap Start-->
      					<div class="row">
      						<div class="col-md-3 col-sm-6">
      							<div class="gt_product_outer_wrap gt_shop_style_2_wrap">
      								<figure>
      									<img src="/static/app/index/extra-images/product-01.jpg" alt="">
      									<div class="gt_overlay_wrap"></div>
      									<figcaption class="gt_product_img_des">
      										
      										<p>商品简介...</p>
      										<ul class="gt_product_ui_element">
      											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
      											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
      										</ul>
      									</figcaption>
      								</figure>
      								<div class="gt_product_des_wrap">
      									<h5><a href="#">商品标题</a></h5>
      									<p>$66</p>
      									<ul class="gt_rating_start">
      										<li><a href="#"><i class="fa fa-star"></i></a></li>
      										<li><a href="#"><i class="fa fa-star"></i></a></li>
      										<li><a href="#"><i class="fa fa-star"></i></a></li>
      										<li><a href="#"><i class="fa fa-star"></i></a></li>
      										<li><a href="#"><i class="fa fa-star"></i></a></li>
      									</ul>
      								</div>
      								<div class="gt_cart_element_wrap">
      									<a class="gt_retweet_link" href="#"><i class="fa fa-retweet"></i></a>
      									<a class="gt_add_to_cart" href="#">添加到购物车</a>
      									<a class="gt_whishlist" href="#"><i class="fa fa-heart"></i></a>
      								</div>
      							</div>
      						</div>
      					</div>
      					<!--Product List Style 2 Wrap End-->
				      </div>
				      <!--Our Latest Product Wrap End-->
          </div>
        </section>
        <!--Shop Wrap End-->
    </div>
    <!--Content Wrap End-->
 {/block}
{block name="myjs"}
<script>
    $('#up').click(function(){
        if($('#num').val() >= 99){
            $('#num').val(99);
        }
        $('#num').val() + 1;
    });
    $('#down').click(function(){
        if($('#num').val() <= 1){
            $('#num').val(1);
        }
        $('#num').val() - 1;
//        console.log($('#num').val());
    });
</script>
{/block}