{extend name="index/index"}

{block name="main"}
<!--Sub Banner Wrap Start -->
    <div class="gt_sub_banner_bg default_width">
        <div class="container">
            <div class="gt_sub_banner_hdg  default_width">
                <h2>我的购物车</h2>
                <h6>欢迎来到还没名字的网站~</h6>
            </div>
        </div>
    </div>
    <!--Sub Banner Wrap End -->
    <!--Breadcrumb Wrap End -->
    <div class="gt_breadcrumb_bg default_width">
        <div class="container">
            <div class="gt_breadcrumb_wrap default_width">
                <ul>
                    <li><a href="{:url('index/index/index')}">首页</a></li>
                    <li><a href="{:url('index/cart/index')}">购物车</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--Breadcrumb Wrap End -->
    <div class="gt_main_content_wrap">
        <!--Shop Wrap Start-->
        <section class="gt_shop_detail_bg gt_courses_bg">
            <div class="container">
                <div class="row col-sm-12">
                    <form action="{:url('/confirm')}" method="post" onsubmit="return check()">

                        <!--总积分-->
                        <input type="hidden" name="point" id="point">
                    <table class="table table-striped ml20">
                        <tr style="line-height: inherit">
                            <th style="text-align: center" class="col-sm-1"></th>
                            <th style="text-align: center" class="col-sm-3">收货人</th>
                            <th style="text-align: center" class="col-sm-3">联系电话</th>
                            <th style="text-align: center">收货地址</th>
                        </tr>
                        {volist name="address" id="a"}
                        <tr style="line-height: 20px">
                            <td style="text-align: center;line-height: 31px">
                                <input type="radio" name="aid" value="{$a['ua_id']}" class="rid" checked>
                            </td>
                            <td style="text-align: center;line-height: 31px">{$a['ua_name']}</td>
                            <td style="text-align: center;line-height: 31px">{$a['ua_phone']}</td>
                            <td style="text-align: center;line-height: 31px">{$a['ua_address']}{$a['ua_street']}</td>
                        </tr>
                        {/volist}
                    </table>
                </div>
                <div class="mt20">
                <table class="table table-hover" id="mytable">
                    <tr>
                        <th style="text-align: center;"></th>
                        <th style="text-align: center;">商品图片</th>
                        <th style="text-align: center;">商品名称</th>
                        <th style="text-align: center;">商品类别</th>
                        <th style="text-align: center;">单价 (元)</th>
                        <th class="col-sm-2" style="text-align: center;">数量</th>
                        <!--<th style="text-align: center;">总价 (元)</th>-->
                        <th style="text-align: center;">操作</th>
                    </tr>
                    {volist name="list" id="v" key="k"}
                    <!--商品id-->
                    <!--<input type="hidden" name="gid" value="{$v.ca_gdid}">-->
                    <p style="display: none" class="gnum" value="{$v['ca_gdid']}"></p>
                    <!--/*&lt;!&ndash;商品单价&ndash;&gt;*/-->
                    <input type="hidden" name="price" value="{$v.ca_price}">
                    <!--传递商品类型-->
                    <input type="hidden" name="type" value="{$v.ca_gtype}">
                    <!--传递购物车id-->
                    <input type="hidden" name="cid" value="{$v.cid}">
                    <p style="display: none" id="base">{$v['ca_point']}</p>
                    <tr>
                        <td style="text-align: center;line-height: 62px;">
                            <input type="checkbox" name="{$v['ca_id']}">
                        </td>
                        <td style="text-align: center;line-height: 62px;">
                            <img src="/uploads/{$v['ca_photo']}" class="img-rounded" alt="" width="100" height="56">
                        </td>
                        <td style="text-align: center;line-height: 62px;">{$v['ca_gname']}</td>
                        <td style="text-align: center;line-height: 62px;">{$v['ca_gtype']}</td>
                        <td style="text-align: center;line-height: 62px;" class="price">{$v['ca_price']}</td>
                        <td style="text-align: center;line-height: 62px;">{$v['ca_num']}</td>
                        <td style="text-align: center;line-height: 62px;">
                            <button type="button" class="btn btn-danger glyphicon glyphicon-trash del" data-id="{$v['ca_id']}"></button>
                        </td>
                    </tr>
                    {/volist}

                </table>
                </div>
                <div style="margin-left: 850px" class="mt50">
                        <a href="{:url('index/index/index')}" class="btn btn-info btn-lg ml30">再去逛逛</a>
                        <button type="submit" class="btn btn-success btn-lg ml30" id="settle">去结算</button>
                    </form>
                </div>
            </div>
            <!--Content Wrap Start-->
        </section>
    </div>

    <!--Content Wrap End-->
{/block}

{block name="myjs"}
{js href="/static/app/index/js/toastr.min.js"}
<script>

    //    计算总价
        $(function(){
//            加
            $('.plus').click(function(){
//                数量
               var num = $(this).parent().prev();
               num.text(parseInt(num.val()+1));
//               setTotal();
//                单价
               var p = parseInt($(this).parents('tr').children('.price').text());
////                总价
//                var t = num.text()*p;
                $('#total').text(parseInt($('#total').text()) + p);
               console.log(t);
            });

//            减
            $('.minus').click(function(){
                var num = $(this).parent().prev();
                if(parseInt(num.val()) <= 1){
                    num.val(1);
                }else{
                    num.text(parseInt(num.val()-1));
//                    setTotal();
                    var p = parseInt($(this).parents('tr').children('.price').text());
                    $('#total').text(parseInt($('#total').text()) - p);
                }
            });


//    执行删除
        $('.del').click(function(){
            var gid = $(this).attr('data-id');
//            console.log(gid);

            if (confirm('您确定要狠心删除我吗?(Ｔ▽Ｔ)')){
                var obj = $(this).parents('tr');
//                 console.log(obj);
                delAjax(gid, obj);
            }
        });

//    执行ajax删除
        function delAjax(id, obj){
            $.ajax({
                type: 'get',
                url: "/deleteCart",
                data: {"id":id},
                dataType: 'json',
                success:function(data){
//                    alert(data);
                    console.log(data);
                    if (data.status){
                        obj.remove();
                    }else{
                        alert('删除失败,请重试');
                    }
                },
                error:function(){
                    alert('删除失败,请重试~');
                }
            });
        }


//        function check(){
//            var v = $('input:[name="aid"]:checked').val();
//            if (v == null){
//                alert("收货地址不能为空哦~");
//                return false;
//            }
//            return true;

//            if($("input[name='aid']:checked").size()==0){
//                alert("收货地址不能为空哦~");
//                return false;
//            }else{
//                return true;
//            }

//            if($(".rid").is(':checked')) {
//                return true;
//            }else{
//                return false;
//            }

//              if($('.rid').is(':checked')){
//                return true;
//            }else{
//                return false;
//            }

//        }


    });
</script>
{/block}

</body>
</html>
