<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>收货地址</title>
    <!--<link rel="stylesheet" href="/static/mobile/css/amazeui.min.css">-->
    <!--<link rel="stylesheet" href="/static/mobile/css/wap.css">-->
    <link href="/static/app/index/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/app/index/css/city-picker.css" rel="stylesheet" type="text/css" />
    <script src="/static/app/index/js/jquery-1.8.3.min.js"></script>
    <style>
        body{
            width: 100%;
        }
        .head{
            width: 100%;
            height: 50px;
            background-color: lightskyblue;
            color: white;
            text-align: left;
            line-height: 50px;
            padding-left: 20px;
        }
        form{
            padding: 20px;
        }
        .span1{
            display: block;
            float: left;
        }
        .span2{
            display: block;
            float: right;
            padding-right: 20px;
        }
        ul{
            padding: 20px;
        }
        li{
            display: inline-block;
            margin-right: 20px;
        }
    </style>
</head>
<body>
<div class='head'><span class="span1">收货地址</span><a href="{:url('index/personal/index')}"><span class="span2">返回</span></a></div>
<div class="container">
    <div class="row">
        {if condition="!empty($data)"}
    <table class="table table-striped ml20">
        <tr style="line-height: inherit">
            <th style="text-align: center"></th>
            <th style="text-align: center">收货人</th>
            <th style="text-align: center">联系电话</th>
            <th style="text-align: center">收货地址</th>
            <th style="text-align: center">操作</th>
        </tr>
        <!--<form action="index/personal/editAddress">-->
        {volist name="data" id="v"}
        <tr style="line-height: 20px">
            <td style="text-align: center;line-height: 31px">1</td>
            <td style="text-align: center;line-height: 31px">{$v['ua_name']}</td>
            <td style="text-align: center;line-height: 31px">{$v['ua_phone']}</td>
            <td style="text-align: center;line-height: 31px">{$v['ua_address']}{$v['ua_street']}</td>
            <td style="text-align: center;line-height: 31px">
                <!--<input type="hidden" name="ua_name" value="">-->
                <!--<button class="btn btn-primary btn-sm">修改</button>-->
                <a class="btn btn-danger btn-sm glyphicon glyphicon-trash" href="{:url('index/personal/delAddress', ['id'=>$v['ua_id']])}">删除</a>
            </td>
        </tr>
        {/volist}

    </table>
    {/if}

    <h5 style="text-align: center" id="add" style='margin-top:15px'>添加地址<b class="glyphicon glyphicon-plus"></b></h5>
    </div>
</div>

<!--  <div class="container">
     <div class="row"> -->
    <div class="col-md-8"  style="display: block;" >
        <form class="form-horizontal mt50" action="{:url('index/Personal/address')}" method="post" onsubmit="return checkAdd()">
            <div class="form-group mt20">
                <label class="col-sm-2 control-label">收货人</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"   maxlength="8" placeholder="请输入收货人姓名" name="addname" id="addname">
                    <span class="ml30" id="tips7"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">手机</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"   maxlength="11" placeholder="请输入收货人手机号" name="addphone" id="addphone">
                    <span class="ml30" id="tips6"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">地址</label>
                <div class="docs-methods col-sm-10">
                    <div id="distpicker">
                        <div class="form-group">
                            <div style="position: relative;margin-left: 15px;">
                                <input id="city-picker3" class="form-control" readonly type="text"  data-toggle="city-picker"  name="address">
                                
                            </div>
                            <input type="text" class="form-control mt10"  maxlength="26" name="street" placeholder="请输入详细街道门牌号" id="addstreet">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">添加</button>
                </div>
            </div>
        </form>
    </div>
<!-- </div>
 </div>   --> 

<script src="/static/app/index/js/jquery.js"></script>
<script src="/static/app/index/js/bootstrap.min.js"></script>
<script src="/static/app/index/js/city-picker.data.js"></script>
<script src="/static/app/index/js/city-picker.js"></script>
<script src="/static/app/index/js/main.js"></script>
<!--<script src="/static/mobile/js/jquery.min.js"></script>-->
<!--<script src="/static/mobile/js/amazeui.min.js"></script>-->
<script>
    $('#add').click(function(){
//        $('#addForm').css('display','block');
        $('#addForm').slideToggle();
    });

    //验证收货人姓名
    $('#addname').change(function(){
        if ($('#addname').val().match(/^([\u4e00-\u9fa5]){2,8}$/) == null){
            $('#tips7').html('姓名格式不正确~');
            $('#tips7').css('color','#f00');
            return false;
        }else{
            $('#tips7').html('验证通过~');
            $('#tips7').css('color','#0a0');
        }
    });

    //        验证收货地址手机
    $('#addphone').change(function(){
        if ($('#addphone').val().match(/^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/) == null){
            $('#tips6').html('手机格式不正确~');
            $('#tips6').css('color','#f00');
            return false;
        }else{
            $('#tips6').html('验证通过~');
            $('#tips6').css('color','#0a0');
        }
    });

    //        验证收货地址
    $('#addstreet').change(function(){
        console.log($('#addstreet').val());
        if ($('#addstreet').val().match(/[\dA-Za-z\u4E00-\u9FA5]+/) == null){
            $('#tips8').html('地址格式不正确~');
            $('#tips8').css('color','#f00');
            //return false;
        }else{
            $('#tips8').html('验证通过~');
            $('#tips8').css('color','#0a0');
        }
    });
    function checkAdd(){
        if($('#addname').val() == ''){
            alert('收货人不能为空');
            return false;
        }else if($('#addphone').val() == ''){
            alert('联系方式不能为空');
            return false;
        }else if($('#addstreet').val() == ''){
            alert('详细地址不能为空');
            return false;
        }else{
            return true;
        }
    }

</script>

</body>
</html>