<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>修改基本信息</title>
    <!--<link rel="stylesheet" href="/static/mobile/css/amazeui.min.css">-->
    <!--<link rel="stylesheet" href="/static/mobile/css/wap.css">-->
    <link href="/static/app/index/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/app/index/js/jquery-1.8.3.min.js"></script>

    <style>
        body{
            width: 100%;
        }
        .head{
            width: 100%;
            height: 50px;
            background-color: lightskyblue;
            color: white;
            text-align: left;
            line-height: 50px;
            padding-left: 20px;
        }
        form{
            padding: 20px;
        }
        .span1{
            display: block;
            float: left;
            padding-right: 20px;
        }
        .span2{
            display: block;
            float: right;
        }
    </style>

</head>
<body>


        <div>

            <div class='head'><span class="span1">基本资料</span><a href="{:url('index/personal/index')}"><span class="span2">返回</span></a></div>
            {if condition="!empty($info)";}
            <form class="form-horizontal mt50" action="{:url('index/personal/updateUser')}" method="post">
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" name="id" value="{$info['id']}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" style="width: 300px;" maxlength="8" placeholder="请输入用户名" name="u_username" value="{$info['username']}" id="username">
                        <span class="ml30" id="tips1"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">性别</label>
                    <div class="radio col-sm-10">
                        <label class="col-sm-3">
                                  <span>
                                      <input type="radio" name="ud_sex" value="1" {if condition="$info['sex'] ==1"}checked{/if}> 男
                                  </span>
                        </label>
                        <label class="col-sm-3">
                                  <span>
                                      <input type="radio" name="ud_sex" value="0" {if condition="$info['sex'] ==0" }checked{/if}> 女
                                  </span>
                        </label>
                        <label class="col-sm-3">
                                  <span>
                                      <input type="radio" name="ud_sex" value="2" {if condition="$info['sex'] ==2"}checked{/if}> 保密
                                  </span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">手机</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" style="width: 300px;" maxlength="11" placeholder="请输入手机号" name="u_phone" value="{$info['phone']}" id="phone">
                        <span class="ml30" id="tips2"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">邮箱</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" style="width: 300px;" placeholder="请输入邮箱" name="ud_email" value="{$info['email']}" id="email">
                        <span class="ml30" id="tips3"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">确认修改</button>
                        <hr>
                    </div>
                </div>
            </form>
            {/if}

        </div>
        <!--<script src="/static/mobile/js/jquery.min.js"></script>-->
        <!--<script src="/static/mobile/js/amazeui.min.js"></script>-->
        <script src="/static/app/index/js/jquery.js"></script>
        <script src="/static/app/index/js/bootstrap.js"></script>
        <script src="/static/app/index/js/toastr.min.js"></script>
        <script>
            //        验证用户名
            $('#username').change(function(){
                if ($('#username').val().match(/^[A-Za-z0-9_\u4e00-\u9fa5]{1,16}$/) == null){
                    $('#tips1').html('用户名格式不正确~');
                    $('#tips1').css('color','#f00');
                }else{
                    $('#tips1').html('验证通过~');
                    $('#tips1').css('color','#0a0');
                }
            });
            //        验证手机
            $('#phone').change(function(){
                if ($('#phone').val().match(/^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/) == null){
                    $('#tips2').html('手机格式不正确~');
                    $('#tips2').css('color','#f00');
                }else{
                    $('#tips2').html('验证通过~');
                    $('#tips2').css('color','#0a0');
                }
            });
            //        验证邮箱
            $('#email').change(function(){
                if ($('#email').val().match(/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/) == null){
                    $('#tips3').html('邮箱格式不正确~');
                    $('#tips3').css('color','#f00');
                }else{
                    $('#tips3').html('验证通过~');
                    $('#tips3').css('color','#0a0');
                }
            });
        </script>

</body>
</html>