<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--<link rel="stylesheet" href="/static/mobile/css/amazeui.min.css">-->
    <!--<link rel="stylesheet" href="/static/mobile/css/wap.css">-->
    <link href="/static/app/index/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/app/index/js/jquery-1.8.3.min.js"></script>
    <title>我的评论</title>
    <style>
        body{
            width: 100%;
        }
        .head{
            width: 100%;
            height: 50px;
            background-color: lightskyblue;
            color: white;
            text-align: left;
            line-height: 50px;
            padding-left: 20px;
        }
        form{
            padding: 20px;
        }
        .span1{
            display: block;
            float: left;
        }
        .span2{
            display: block;
            float: right;
            padding-right: 20px;
        }
        ul{
            padding: 20px;
        }
        li{
            display: inline-block;
            margin-right: 20px;
        }
    </style>
</head>
<body>
<div class='head'>
    <span class="span1">我的评论</span>
    <a href="{:url('index/personal/index')}"><span class="span2">返回</span></a>
</div>

<!--评论列表-->

<div class="col-md-8" id="comment" style="background-color: white">
    {if condition="!empty($comment)"}
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th style="text-align: center">产品</th>
                <th style="text-align: center">评论</th>
                <th style="text-align: center">时间</th>
                <!-- <th style="text-align: center">评分</th> -->
                <!-- <th style="text-align: center">商家回应</th> -->
                <th style="text-align: center" class="col-sm-1">操作</th>
            </tr>
            {volist name="comment" id="vp"}
            <tr >
                <td style="text-align: center">{$vp['c_gname']}</td>
                <td style="text-align: center">
                    {$vp['c_text']}
                    <!--<textarea name="text" id="" cols="30" rows="3">{$vp['c_text']}</textarea>-->
                </td>
                <td style="text-align: center">{$vp['c_time']}</td>
                <!-- <td style="text-align: center">
                    {switch name=$vp['c_score']}
                    {case value="1"}<span class="glyphicon glyphicon-star"></span>{/case}
                    {case value="2"}<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>{/case}
                    {case value="3"}<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>{/case}
                    {case value="4"}<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>{/case}
                    {case value="5"}<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>{/case}
                    {default /}default
                    {/switch}
                </td> -->
                <!-- <td style="text-align: center">
                    {if condition="!empty($vp['c_content'])"}
                    {$vp['c_content']}<br>回应时间:{$vp['c_atime']}
                    {else/}
                    商家尚未回应
                    {/if}
                </td> -->
                <td style="text-align: center">
                    <button class="btn btn-info btn-sm updatecom" com-id="{$vp['c_id']}" data-toggle="modal" data-target="#myCommentModal1">修改</button>
                    <button class="btn btn-danger btn-sm deletecom" com-id="{$vp['c_id']}">删除</button>
                </td>
            </tr>
            {/volist}
        </table>
    </div>
    {else/}
    <div class="row" style="padding:20px">
        <h5> 您还没有写过任何点评哦O(∩_∩)O </h5>
    </div>
    
    {/if}
</div>

<!--修改评价-->
<div class="modal fade" id="myCommentModal1" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gname2"></h4>
            </div>
            <form action="{:url('index/Comment/update')}"  method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" name="c_id" value="" id="c-id">
                    <textarea class="content" name="text"  cols="25" rows="3" placeholder="请输入评论内容,长度限制在140个字符以内" maxlength="140" noresize></textarea>
                    <br>
                    <br>
                    评分:　
                    <input type="radio" name='score' value="5" id="sc5">非常好∩_∩
                    　<input type="radio" name='score' value="4" id="sc4">很好^_^ <br>
                    　<input type="radio" name='score' value="3" id="sc3">好:-D
                    　<input type="radio" name='score' value="2" id="sc2">一般-_-
                    　<input type="radio" name='score' value="1" id="sc1">差╯﹏╰
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary reload">修改</button>
                </div>
            </form>
        </div>
    </div>
</div>
    <script src="/static/app/index/js/jquery.js"></script>
    <script src="/static/app/index/js/bootstrap.js"></script>
    <script src="/static/app/index/js/toastr.min.js"></script>
    <!--<script src="/static/mobile/js/jquery.min.js"></script>-->
    <!--<script src="/static/mobile/js/amazeui.min.js"></script>-->
    <script>
            $('.updatecom').click(function(){
                //评论的id
                var id = $(this).attr('com-id');
                console.log(id);
                upComAjax(id);
            });
            $('.deletecom').click(function(){
                var id = $(this).attr('com-id');
                if (confirm('确定要 [ 删除 ] 此条评论吗?')) {
                    var obj = $(this).parents('tr');
                    console.log(obj);
                    delComAjax(id, obj);// 调用执行AJAX删除
                }
            });
            function upComAjax(id){
                $.ajax({
                    type:'get',
                    url:'/findcomment/'+id,
                    dataType:'json',
                    success:function(data){
                        console.log(data);
                        if(data.status){
                            $('#gname2').html('商品名称:'+data.gname);
                            $('.content').html(data.text);
                            $('#c-id').attr('value',data.c_id);
                            if(data.score==5){
                                $('#sc5').attr('checked',true);
                            }else if(data.score==4){
                                $('#sc4').attr('checked',true);
                            }else if(data.score==3){
                                $('#sc3').attr('checked',true);
                            }else if(data.score==2){
                                $('#sc2').attr('checked',true);
                            }else{
                                $('#sc1').attr('checked',true);
                            }
                        }else{
                            alert('获取数据失败,请重试');
                        }
                    },
                    error:function(){
                        alert('请求失败');
                    }
                });
            }
            function delComAjax(id,obj){
                $.ajax({
                    type:'delete',
                    url:'/delcomment/'+id,
                    dataType:'json',
                    success:function(data){
                        if(data.status){
                            obj.remove();
                            alert(data.info);
                            // 将当前的节点删除掉
                        }else{
                            alert('获取数据失败,请重试');
                        }
                    },
                    error:function(){
                        alert('请求失败');
                    }
                });
            }
</script>
        

</body>
</html>
