<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>我的订单</title>
    <link rel="stylesheet" href="/static/mobile/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/mobile/css/wap.css">
    <!--<link href="/static/app/index/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="/static/app/index/css/city-picker.css" rel="stylesheet" type="text/css" />-->
    <!--<script src="/static/app/index/js/jquery-1.8.3.min.js"></script>-->
    <style>
        body{
            width: 100%;
        }
        .head{
            width: 100%;
            height: 50px;
            background-color: lightskyblue;
            color: white;
            text-align: left;
            line-height: 50px;
            padding-left: 20px;
        }
        form{
            padding: 20px;
        }
        .span1{
            display: block;
            float: left;
        }
        .span2{
            display: block;
            float: right;
            padding-right: 20px;
        }
        ul{
            padding: 20px;
        }
        li{
            display: inline-block;
            margin-right: 20px;
        }
    </style>
</head>
<body>
<div class='head'><span class="span1">我的订单</span><a href="{:url('index/personal/index')}"><span class="span2">返回</span></a></div>
<div class="col-md-8" id="order" style="display: block;">
    
    <div class="gt_d_classes_wrap default_width" style="display: block">
        <ul class="choose">
            <li><button class="gt_d_title h4" id="done" style="background-color: #ccc">已完成</button></li>
            <li><button class="gt_d_title h4" id="shipped">待收货</button></li>
            <li><button class="gt_d_title h4" id="notShipped">待发货</button></li>
        </ul>
        <div id="bigForm">
            <div class="gt_d_courses_wrap default_width mt20" style="display:block" id="doneForm">
                {if condition="!empty($done)";}
                <table class="table table-hover">
                    <!--已完成订单-->
                    <tr>
                        <th style="text-align: center">订单号</th>
                        <th style="text-align: center">商品</th>
                        <th style="text-align: center">单价(元)</th>
                        <th style="text-align: center">数量</th>
                        <th style="text-align: center">金额</th>
                        <th style="text-align: center" class="col-sm-3">操作</th>
                    </tr>
                    {volist name="done" id="v"}
                    <tr style="line-height: 20px">
                        <td style="text-align: center">{:mb_substr($v['o_order_num'],0,8)}...</td>
                        <td style="text-align: center">{:mb_substr($v['o_gname'],0,3)}...</td>
                        <td style="text-align: center">{$v['o_price']}</td>
                        <td style="text-align: center">{$v['o_num']}</td>
                        <td style="text-align: center">{$v['o_total']}</td>
                        <td style="text-align: center">
                            <button class="am-btn am-btn-success am-btn-xs show01">查看</button>
                            <!--<button class="btn btn-info btn-sm comment"  data-toggle="modal" data-target="#myCommentModal">评价</button>-->
                            <button class="am-btn am-btn-xs am-btn-primary comment" data-am-modal="{target: '#doc-modal', closeViaDimmer: 0, width:400, height: 325}" oid="{$v['o_id']}">评价</button>
                            <!--<a href="{:url('index/Comment/create',['id'=>$v['o_id']])}">评价</a>-->
                            <button class="am-btn am-btn-danger am-btn-xs delOrder" oid="{$v['o_id']}">删除</button>
                        </td>
                    </tr>
                    {/volist}
                </table>
                {/if}
                　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　
                {volist name="done" id="v"}
                <!--<div class="" id="showDetail" style="display: block">-->
                <figure class="show11" style="display: none">
                    <img src="/uploads/{$v['o_photo']}" style="width: 60%;">
                    <figcaption class="gt_listing_rating">
                        Paid
                    </figcaption>
                </figure>
                <div class="gt_d_classes_des show12" style="display: none">
                    <h6>{$v['o_gname']}</h6>
                    <ul>
                        <li>
                            <ul class="gt_rating_star">
                                <li>
                                    <!--评级-->
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                        </li>
                        <li>购买时间:{$v['o_time']}</li>
                    </ul>
                </div>
                {/volist}
                <!--</div>-->
            </div>
            <div class="gt_d_courses_wrap default_width mt20" style="display: none" id="shippedForm">
                {if condition="!empty($diliver)";}
                <!--已发货订单-->
                <table class="table table-hover">
                    <tr>
                        <th style="text-align: center">订单号</th>
                        <th style="text-align: center">商品</th>
                        <th style="text-align: center">单价(元)</th>
                        <th style="text-align: center">数量</th>
                        <th style="text-align: center">金额</th>
                        <th style="text-align: center" class="col-sm-3">操作</th>
                    </tr>
                    {volist name="diliver" id="v"}
                    <tr style="line-height: 20px">
                        <td style="text-align: center">{:mb_substr($v['o_order_num'],0,8)}...</td>
                        <td style="text-align: center">{:mb_substr($v['o_gname'],0,3)}...</td>
                        <td style="text-align: center">{$v['o_price']}</td>
                        <td style="text-align: center">{$v['o_num']}</td>
                        <td style="text-align: center">{$v['o_total']}</td>
                        <td style="text-align: center">
                            <button class="am-btn am-btn-success btn-sm show02">查看</button>
                            <button class="am-btn am-btn-danger btn-sm cancel">退货</button>
                        </td>
                    </tr>
                    {/volist}
                </table>
                {/if}
                　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　
                {volist name="diliver" id="v"}
                <!--<div class="" id="showDetail" style="display: block">-->
                <figure class="show21" style="display: none">
                    <img src="/uploads/{$v['o_photo']}" style="width: 60%;">
                    <figcaption class="gt_listing_rating">
                        Paid
                    </figcaption>
                </figure>
                <div class="gt_d_classes_des show22" style="display: none">
                    <h6>{$v['o_gname']}</h6>
                    <ul>
                        <li>
                            <ul class="gt_rating_star">
                                <li>
                                    <!--评级-->
                                <i class="fa fa-star"></i>
                                </li>
                            </ul>
                        </li>
                        <li>购买时间:{$v['o_time']}</li>
                    </ul>
                </div>
                {/volist}
                <!--</div>-->
            </div>
            <div class="gt_d_courses_wrap default_width mt20" style="display: none" id="notShippedForm">
                {if condition="!empty($un)";}
                <!--未发货订单-->
                <table class="table table-hover">
                    <tr>
                        <th style="text-align: center">订单号</th>
                        <th style="text-align: center">商品</th>
                        <th style="text-align: center">单价(元)</th>
                        <th style="text-align: center">数量</th>
                        <th style="text-align: center">金额</th>
                        <th style="text-align: center" class="col-sm-3">操作</th>
                    </tr>
                    {volist name="un" id="v"}
                    <tr style="line-height: 20px">
                        <td style="text-align: center">{:mb_substr($v['o_order_num'],0,8)}...</td>
                        <td style="text-align: center">{:mb_substr($v['o_gname'],0,3)}...</td>
                        <td style="text-align: center">{$v['o_price']}</td>
                        <td style="text-align: center">{$v['o_num']}</td>
                        <td style="text-align: center">{$v['o_total']}</td>
                        <td style="text-align: center">
                            <button class="am-btn am-btn-success btn-sm show03">查看</button>
                            <button class="am-btn am-btn-danger btn-sm cancel">退货</button>
                        </td>
                    </tr>
                    {/volist}
                </table>
                　{/if}　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　
                {volist name="un" id="v"}
                <figure class="show31" style="display: none">
                    <img src="/uploads/{$v['o_photo']}" style="width: 60%;">
                    <figcaption class="gt_listing_rating">
                        Paid
                    </figcaption>
                </figure>

                <div class="gt_d_classes_des show32" style="display: none">　　　　　　　　　　　　　　　　　　　　　
                    <h6>{$v['o_gname']}</h6>
                    <ul>
                        <li>
                            <ul class="gt_rating_star">
                                <li>
                                    <!--评级-->
                                    <i class="fa fa-star"></a>
                                </li>
                            </ul>
                        </li>
                        <li>{$v['o_time']}</li>
                    </ul>
                </div>
                {/volist}
            </div>

        </div>
    </div>
</div>


<!--设置头像的模态框-->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            <h4 class="modal-title" id="gname1"></h4>
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
            <form action="{:url('index/Comment/save')}" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" name='bid' id="bid" value="">
                    <input type="hidden" name='gid' id="gid" value="">
                    <input type="hidden" name='cid' id="cid" value="">
                    <input type="hidden" name='uid' id="uid" value="">
                    <input type="hidden" name='oid' id="oid" value="">
                    <input type="hidden" name='gname' id="gname" value="">
                    <textarea name="content"  cols="35" rows="3" placeholder="请输入评论内容,长度限制在140个字符以内" maxlength="140" noresize></textarea>
                    <br>
                    <br>
                    <span style='padding:10px'>评分:</span>　
                    <input type="radio" name='score' value="5" checked>非常好∩_∩
                    　<input type="radio" name='score' value="4">很好^_^ <br>
                    　<input type="radio" name='score' value="3">好:-D
                    　<input type="radio" name='score' value="2">一般-_-
                    　<input type="radio" name='score' value="1">差╯﹏╰
                </div>
                <div class="modal-footer">
                    <button type="submit" class="am-btn am-btn-success">提交评价</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<script src="/static/app/index/js/jquery.js"></script>-->
<!--<script src="/static/app/index/js/bootstrap.min.js"></script>-->
<!--<script src="/static/app/index/js/city-picker.data.js"></script>-->
<!--<script src="/static/app/index/js/city-picker.js"></script>-->
<!--<script src="/static/app/index/js/main.js"></script>-->

<script src="/static/mobile/js/jquery.min.js"></script>
<script src="/static/mobile/js/amazeui.min.js"></script>
<script>

    //商品评价
    $('.comment').click(function(){
        //订单的id
        var id = $(this).attr('oid');
        //console.log(id);
        commentAjax(id);
    });
    function commentAjax(id){
        $.ajax({
            type:'get',
            url:'/create/'+id,
            dataType:'json',
            success:function(data){
                //console.log(data);
                if(data.status){
                    $('#gname1').html('商品名称:'+data.gname);
                    $('#gname').attr('value',data.gname);
                    $('#gid').attr('value',data.gid);
                    $('#cid').attr('value',data.cid);
                    $('#uid').attr('value',data.uid);
                    $('#bid').attr('value',data.bid);
                    $('#oid').attr('value',data.oid);
                }else{
                    $('.modal-body').html('获取数据失败,请重试');
                }
            },
            error:function(){
                alert('请求失败');
            }
        });
    }

    //      order
    $('#done').click(function(){
        $(this).css('backgroundColor', '#ccc');
        $(".choose button:not(#done)").css('backgroundColor', '');
        $('#doneForm').css('display', 'block');
        $('#bigForm > div:not(#doneForm)').css('display', 'none');
    });
    $('#shipped').click(function(){
        $(this).css('backgroundColor', '#ccc');
        $(".choose button:not(#shipped)").css('backgroundColor', '');
        $('#shippedForm').css('display', 'block');
        $('#bigForm > div:not(#shippedForm)').css('display', 'none');
    });
    $('#notShipped').click(function(){
        $(this).css('backgroundColor', '#ccc');
        $(".choose button:not(#notShipped)").css('backgroundColor', '');
        $('#notShippedForm').css('display', 'block');
        $('#bigForm > div:not(#notShippedForm)').css('display', 'none');
    });

    $('#show01').click(function(){
        $('#show11,#show12').slideToggle();
    });
    $('#show02').click(function(){
        $('#show21,#show22').slideToggle();
    });
    //      $('.show03').click(function(){
    //          $('.show3').slideToggle();
    //      });

    //        控制商品详情框弹出
    var show03 = document.getElementsByClassName('show03');
    var show31 = document.getElementsByClassName('show31');
    var show32 = document.getElementsByClassName('show32');
    //      console.log(show03);
    //      console.log(show31);
    //      console.log(show32);
    for(var i = 0; i<show03.length; i++){
        (function(i){
            show03[i].onclick = function(){
                demo3(i);
            };
        })(i);
    }

    function demo3(i){
        //          alert(i);
        $('.show31').eq(i).slideToggle();
        $('.show32').eq(i).slideToggle();

    }

    var show02 = document.getElementsByClassName('show02');
    var show21 = document.getElementsByClassName('show21');
    var show22 = document.getElementsByClassName('show22');

    for(var i = 0; i<show02.length; i++){
        (function(i){
            show02[i].onclick = function(){
                demo2(i);
            };
        })(i);
    }

    function demo2(i){
        //          alert(i);
        $('.show21').eq(i).slideToggle();
        $('.show22').eq(i).slideToggle();

    }

    var show01 = document.getElementsByClassName('show01');
    var show11 = document.getElementsByClassName('show11');
    var show12 = document.getElementsByClassName('show12');
    //      console.log(show01);
    //      console.log(show11);
    //      console.log(show12);
    for(var i = 0; i<show01.length; i++){
        (function(i){
            show01[i].onclick = function(){
                demo1(i);
            };
        })(i);
    }

    function demo1(i){
        //          alert(i);
        $('.show11').eq(i).slideToggle();
        $('.show12').eq(i).slideToggle();

    }

    //        删除已完成订单
    $('.delOrder').click(function(){
        var oid = $(this).attr('oid');
        if(confirm('您确定要删除此订单记录吗?')){
            var obj = $(this).parents('tr');
            //console.log(oid,obj);
            delOrder(oid, obj);
        }
    });
    //
    function delOrder(id,obj){
        $.ajax({
            type:'get',
            url:'/delete/'+id,
            dataType:'json',
            success:function(data){
                    //alert(data);
                if (data.status){
                    alert('订单删除成功');
                    obj.remove();
                }else{
                    alert('订单删除失败,请重试~');
                }
            },
            error:function(){
                alert('ajax请求失败,请重试~');
            }
        });
    }

    //        退货
    $('.cancel').click(function(){
        alert('您的退货申请卖家已收到,请耐心等待商家联系');
    });

</script>

</body>
</html>