<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="/static/mobile/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/mobile/css/wap.css">
    <title>详情页</title>
</head>
<body style="background:#ececec">
<div class="pet_mian" >
    <div class="pet_head">
        <header data-am-widget="header"
                class="am-header am-header-default pet_head_block">
            <div class="am-header-left am-header-nav ">
                <a href="javascript:history.go(-1)" class="iconfont pet_head_jt_ico">&#xe601;</a>
            </div>

            <h1 class="am-header-title pet_article_user">
                <div class="pet_article_user_info_tab">
                    <div class="pet_article_user_info_tab_font">
                        <div class="pet_article_user_info_tab_font_triangle"></div>
                        <div class="pet_article_user_info_tab_font_center"><i>文章</i><span>16篇</span></div>
                        <!--         <div class="pet_article_user_info_tab_font_center"><i>涂鸦</i><span>89张</span></div>
                                <div class="pet_article_user_info_tab_font_center_line"></div>
                                <div class="pet_article_user_info_tab_font_center"><a href="###">查看全部资料</a></div> -->
                    </div>
                </div>
                <span class="pet_article_user_name">详情页</span>
            </h1>
        </header>
    </div>


    <div class="pet_content">
        <div class="pet_content_block">
            <article data-am-widget="paragraph" class="am-paragraph am-paragraph-default pet_content_article" data-am-paragraph="{ tableScrollable: true, pureview: true }">
                <h1 class="pet_article_title">美丽乡村</h1>
                {volist name="list" id="v"}
                <img src="/uploads/{$v.pic}" width="250">
                <br>
                {/volist}
                <p>{$list['0']['gd_details']}</p>
                <p><span class="am-icon-jpy am-icon-sm">　</span>价格:¥{$list['0']['gd_price']}</p>
                <p><span class="am-icon-binoculars am-icon-sm">　</span>浏览量:{$list['0']['gd_view']}</p>
            </article>
            <div>
                <input type="hidden" name="gid" id="gid" value="{$data['gid']}">
                <input type="hidden" name="cid" id="cid" value="{$data['cid']}">
                <!--<a href="{:url('index/Cart/index',['gid'=>$data['gid'],'cid'=>$data['cid']])}">加入购物车</a>-->
                <button type="button" class="am-btn am-btn-danger am-round" id="cart">加入购物车</button>
            </div>
        </div>
        <div class="pet_comment_list">
            <div class="pet_comment_list_wap"><div class="pet_comment_list_title">精彩评论({:count($comment)})</div>

                <div data-am-widget="tabs" class="am-tabs am-tabs-default pet_comment_list_tab" >
                    <!--<ul class="am-tabs-nav am-cf pet_comment_list_title_tab">-->
                        <!--<li class="am-active"><a href="[data-tab-panel-0]">人气好评</a></li>-->
                        <!--<li class=""><a href="[data-tab-panel-1]">中评</a></li>-->
                        <!--<li class=""><a href="[data-tab-panel-2]">差评</a></li>-->
                    <!--</ul>-->

                    {if condition="!empty($comment)"}
                    <div class="am-tabs-bd pet_pl_list">
                        <div data-tab-panel-0 class="am-tab-panel am-active">
                            {volist name='comment' id='cv'}
                            <div class="pet_comment_list_block">
                                <div class="pet_comment_list_block_l"><img src="/uploads/headPhoto/{$cv['ud_photo']}" alt=""></div>
                                <div class="pet_comment_list_block_r">
                                    <div class="pet_comment_list_block_r_info">{$cv['u_username']}</div>
                                    <div class="pet_comment_list_block_r_text">{$cv['c_text']}</div>
                                    <div class="pet_comment_list_block_r_bottom">
                                        <div class="pet_comment_list_bottom_info_l">
                                            {switch name=$cv['c_score']}
                                              {case value="1"}<span class="am-icon-star"></span>{/case}
                                              {case value="2"}<span class="am-icon-star"></span><span class="am-icon-star"></span>{/case}
                                              {case value="3"}<span class="am-icon-star"></span><span class="am-icon-star"></span><span class="am-icon-star"></span>{/case}
                                              {case value="4"}<span class="am-icon-star"></span><span class="am-icon-star"></span><span class="am-icon-star"></span><span class="am-icon-star"></span>{/case}
                                              {case value="5"}<span class="am-icon-star"></span><span class="am-icon-star"></span><span class="am-icon-star"></span><span class="am-icon-star"></span><span class="am-icon-star"></span>{/case}
                                              {default /}default
                                              {/switch}
                                        </div>
                                        <div class="pet_comment_list_bottom_info_r">
                                            <span>{$cv['c_time']}</span></div>
                                    </div>
                                    {if condition="!empty($cv['c_content'])"}
                                    <div class="pet_comment_list_block_r_bottom">
                                        <div class="pet_comment_list_bottom_info_l">
                                            <span><b>商家回应:　</b>{$cv['c_content']}</span>
                                        </div>
                                        <div class="pet_comment_list_bottom_info_r">
                                            <span><b>回复时间:　</b>{$cv['c_atime']}</span></div>
                                    </div>
                                    {/if}
                                </div>
                            </div>
                        </div>
                    </div>
                    {/volist}
                    {else/}
                    <h2 style="text-align: center">此商品下暂无用户评论哦~~</h2>
                    {/if}
                </div>
            </div>
        </div>
        <div class="pet_article_footer_info">美丽乡村</div>
    </div>
</div>
<script src="/static/mobile/js/jquery.min.js"></script>
<script src="/static/mobile/js/amazeui.min.js"></script>
<script>
    $('#cart').click(function(){
        var gid=document.getElementById('gid').value;
        var cid=document.getElementById('cid').value;
        //console.log(gid,cid);
        docartAjax(gid,cid);
    });
    //执行加入购物车的AJAX请求
    function docartAjax(gid,cid){
        $.ajax({
            type:'get',
            url:'/docart/'+gid+'/'+cid,
            dataType:'json',
            success:function(data){
                //console.log(data);
                if(data.status){
                    alert('加入成功');
                }else{
                    alert('加入失败');
                }
            },
            error:function(){
                alert('请求失败');
            }
        });
    }


</script>
</body>
</html>