<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="/static/mobile/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/mobile/css/wap.css">
    <title>酒店详情</title>
</head>
<body style="background:#ececec">
<div class="pet_mian" >
    <div class="pet_head">
        <header data-am-widget="header"
                class="am-header am-header-default pet_head_block">
            <div class="am-header-left am-header-nav ">
                <a href="javascript:history.go(-1)" class="iconfont pet_head_jt_ico">&#xe601;</a>
            </div>
            <div class="am-header-right am-header-nav">
                <a href="javascript:;" class="iconfont pet_head_gd_ico">&#xe600;</a>
            </div>
        </header>
    </div>


    <div class="pet_content pet_content_list">
        <div class="pet_zlnr">
            <div class="pet_zlnr_user">
                <div class="pet_zlnr_user_r">
                    {if condition="$list[0]['is_park'] eq '1'"}
                   <span class="am-icon-car am-icon-sm">　</span>停车场
                    {/if}
                    　　
                    {if condition="$list[0]['is_wifi'] eq '1'"}
                   <span class="am-icon-wifi am-icon-sm">　</span>WIFI
                    {/if}
                </div>
            </div>
            <div class="pet_zlnr_nr">

                <article data-am-widget="paragraph"
                         class="am-paragraph am-paragraph-default"

                         data-am-paragraph="{ tableScrollable: true, pureview: true }">
                    {volist name="list" id="v"}
                    <img src="/uploads/{$v.pic}">
                    {/volist}
                    <p>{$list[0]['gd_details']}</p>
                    <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
                        <!--列表标题-->
                        <div class="am-list-news-hd am-cf">
                            <!--带更多链接-->
                            <a href="##" class="">
                                <h2>酒店信息</h2>
                            </a>
                        </div>

                        <div class="am-list-news-bd">
                            <ul class="am-list">

                                <li class="am-g am-list-item-dated">
                                    <h4>单价:　<font color="red">¥{$list[0]['gd_price']}</font></h4>
                                </li>
                                <li class="am-g am-list-item-dated">
                                    <h4>会员价:　<font color="red">¥{$list[0]['gd_discount']}</font></h4>
                                </li>
                                <li class="am-g am-list-item-dated">
                                    <h4>剩余房间数:　<font color="red">{$list[0]['gd_store']}</font></h4>
                                </li>
                                <li class="am-g am-list-item-dated">
                                    <h4>联系方式:　<font color="red">{$list[0]['gd_phone']}</font></h4>
                                </li>
                                <li class="am-g am-list-item-dated">
                                    <h4>地址:　<font color="red">{$list[0]['gd_address']}</font></h4>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <a href="{:url('/hotelpay',['id'=>$list['0']['c_gid']])}" class="am-btn am-btn-danger am-round"><font color="white">立即预订</font></a>
                </article>
                <div class="pet_comment_list">
                    <div class="pet_comment_list_wap"><div class="pet_comment_list_title">精彩评论({:count($comment)})</div>

                        <div data-am-widget="tabs" class="am-tabs am-tabs-default pet_comment_list_tab" >
                            <!--<ul class="am-tabs-nav am-cf pet_comment_list_title_tab">-->
                            <!--<li class="am-active"><a href="[data-tab-panel-0]">人气好评</a></li>-->
                            <!--<li class=""><a href="[data-tab-panel-1]">中评</a></li>-->
                            <!--<li class=""><a href="[data-tab-panel-2]">差评</a></li>-->
                            <!--</ul>-->

                            {if condition="!empty($comment)"}
                            <div class="am-tabs-bd pet_pl_list">
                                <div data-tab-panel-0 class="am-tab-panel am-active">
                                    {volist name='comment' id='cv'}
                                    <div class="pet_comment_list_block">
                                        <div class="pet_comment_list_block_l"><img src="/uploads/headPhoto/{$cv['ud_photo']}" alt=""></div>
                                        <div class="pet_comment_list_block_r">
                                            <div class="pet_comment_list_block_r_info">{$cv['u_username']}</div>
                                            <div class="pet_comment_list_block_r_text">{$cv['c_text']}</div>
                                            <div class="pet_comment_list_block_r_bottom">
                                                <div class="pet_comment_list_bottom_info_l">
                                                    {switch name=$cv['c_score']}
                                                    {case value="1"}<span class="am-icon-star"></span>{/case}
                                                    {case value="2"}<span class="am-icon-star"></span><span class="am-icon-star"></span>{/case}
                                                    {case value="3"}<span class="am-icon-star"></span><span class="am-icon-star"></span><span class="am-icon-star"></span>{/case}
                                                    {case value="4"}<span class="am-icon-star"></span><span class="am-icon-star"></span><span class="am-icon-star"></span><span class="am-icon-star"></span>{/case}
                                                    {case value="5"}<span class="am-icon-star"></span><span class="am-icon-star"></span><span class="am-icon-star"></span><span class="am-icon-star"></span><span class="am-icon-star"></span>{/case}
                                                    {default /}default
                                                    {/switch}
                                                </div>
                                                <div class="pet_comment_list_bottom_info_r">
                                                    <span>{$cv['c_time']}</span></div>
                                            </div>
                                            {if condition="!empty($cv['c_content'])"}
                                            <div class="pet_comment_list_block_r_bottom">
                                                <div class="pet_comment_list_bottom_info_l">
                                                    <span><b>商家回应:　</b>{$cv['c_content']}</span>
                                                </div>
                                                <div class="pet_comment_list_bottom_info_r">
                                                    <span><b>回复时间:　</b>{$cv['c_atime']}</span></div>
                                            </div>
                                            {/if}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {/volist}
                            {else/}
                            <h2 style="text-align: center">此商品下暂无用户评论哦~~</h2>
                            {/if}
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="pet_article_footer_info">Copyright(c)2015 PetShow All Rights Reserved</div>
    </div>
</div>
<script src="/static/mobile/js/jquery.min.js"></script>
<script src="/static/mobile/js/amazeui.min.js"></script>
<script>
    $(function(){

        // 动态计算新闻列表文字样式
        auto_resize();
        $(window).resize(function() {
            auto_resize();
        });
        $('.am-list-thumb img').load(function(){
            auto_resize();
        });
        $('.pet_article_like li:last-child').css('border','none');
        function auto_resize(){
            $('.pet_list_one_nr').height($('.pet_list_one_img').height());
            // alert($('.pet_list_one_nr').height());
        }
        $('.pet_article_user').on('click',function(){
            if($('.pet_article_user_info_tab').hasClass('pet_article_user_info_tab_show')){
                $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_show').addClass('pet_article_user_info_tab_cloes');
            }else{
                $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_cloes').addClass('pet_article_user_info_tab_show');
            }
        });

        $('.pet_head_gd_ico').on('click',function(){
            $('.pet_more_list').addClass('pet_more_list_show');
        });
        $('.pet_more_close').on('click',function(){
            $('.pet_more_list').removeClass('pet_more_list_show');
        });
    });

</script>

<script>

    $('.select-time').hotelDate();

</script>
</body>
</html>