<!DOCTYPE HTML>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>

    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <meta name="apple-mobile-web-app-status-bar-style" content="black">


    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/mobile/index/images/splash/splash-icon.png">

    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/static/mobile/index/images/splash/splash-icon-big.png">

    <link rel="apple-touch-startup-image" href="/static/mobile/index/images/splash/splash-screen.png" 	media="screen and (max-device-width: 320px)" />

    <link rel="apple-touch-startup-image" href="/static/mobile/index/images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />

    <link rel="apple-touch-startup-image" href="/static/mobile/index/images/splash/splash-screen-six.png" media="(device-width: 375px)">

    <link rel="apple-touch-startup-image" href="/static/mobile/index/images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">

    <link rel="apple-touch-startup-image" sizes="640x1096" href="/static/mobile/index/images/splash/splash-screen@3x.png" />

    <link rel="apple-touch-startup-image" sizes="1024x748" href="/static/mobile/index/images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />

    <link rel="apple-touch-startup-image" sizes="768x1004" href="/static/mobile/index/images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />

    <link rel="apple-touch-startup-image" sizes="1536x2008" href="/static/mobile/index/images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>

    <link rel="apple-touch-startup-image" sizes="1496x2048" href="/static/mobile/index/images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>



    <title>美丽乡村</title>



    <link href="/static/mobile/index/styles/style.css"     		 rel="stylesheet" type="text/css">

    <link href="/static/mobile/index/styles/framework.css" 		 rel="stylesheet" type="text/css">

    <link href="/static/mobile/index/styles/owl.theme.css" 		 rel="stylesheet" type="text/css">

    <link href="/static/mobile/index/styles/swipebox.css"		 rel="stylesheet" type="text/css">

    <link href="/static/mobile/index/styles/font-awesome.css"	 rel="stylesheet" type="text/css">

    <link href="/static/mobile/index/styles/animate.css"			 rel="stylesheet" type="text/css">


    <script type="text/javascript" src="/static/mobile/index/scripts/jquery.js"></script>

    <script type="text/javascript" src="/static/mobile/index/scripts/jqueryui.js"></script>

    <script type="text/javascript" src="/static/mobile/index/scripts/framework.plugins.js"></script>

    <script type="text/javascript" src="/static/mobile/index/scripts/custom.js"></script>


</head>

<body>



<div id="preloader">

    <div id="status">

        <p class="center-text">

            Loading the content...

            <em>Loading depends on your connection speed!</em>

        </p>

    </div>

</div>





<ul class="menu-top">
    <li>
        <a class="has-submenu" href="#"><i class="fa fa-mobile">登录/注册</i><i class="fa fa-plus"></i></a>
    </li>
    <li class="active-menu">
        <a href="{:url('/')}"><i class="fa fa-home"></i>首页<i class="fa fa-circle"></i></a></li>
    <li>

        <a class="has-submenu" href="{:url('index/Personal/index')}"><i class="fa fa-camera"></i>个人中心<i class="fa fa-plus"></i></a>


    </li>

    <li>

        <a class="has-submenu" href="#"><i class="fa fa-files-o"></i>分类<i class="fa fa-plus"></i></a>

        <ul class="submenu">
            {volist name="cate" id="v"}
            <li><a href="{:url('/listshow',['cid'=>$v.id])}"><i class="fa fa-angle-right"></i>{$v.c_name}<i class="fa fa-circle"></i></a></li>
            {/volist}
        </ul>

    </li>



    <li><a href="contact.html"><i class="fa fa-envelope-o"></i>购物车<i class="fa fa-circle"></i></a></li>

    <li><a class="close-menu" href="#"><i class="fa fa-times"></i>退出<i class="fa fa-circle"></i></a></li>

</ul>



<div class="header">

    <a href="index/index/index" class="header-logo"></a>
    <a href="#" class="header-navigation show-navigation"><i class="fa fa-navicon"></i></a>

</div>

<div class="header-clear"></div>
{block name="main"}


<div class="slider-container">

    <div class="homepage-slider" data-snap-ignore="true">

        <div>

            <div class="overlay"></div>

            <div class="homepage-slider-caption homepage-left-caption">

                <h3>《绝句二首》</h3>

                <p>迟日江山丽，春风花草香。   泥融飞燕子，沙暖睡鸳鸯。</p>

            </div>

            <img src="/static/mobile/index/images/pictures/cun1.jpg" class="responsive-image" alt="img">

        </div>

        <div>

            <div class="overlay"></div>

            <div class="homepage-slider-caption homepage-center-caption">

                <h3>《竹里馆》</h3>

                <p>独坐幽篁里，弹琴复长啸。   深林人不知，明月来相照。</p>

            </div>

            <img src="/static/mobile/index/images/pictures/cun2.jpg" class="responsive-image" alt="img">

        </div>

        <div>

            <div class="overlay"></div>

            <div class="homepage-slider-caption homepage-right-caption">

                <h3>《乡村四月》</h3>

                <p>绿遍山原白满川，子规声里雨如烟。   乡村四月闲人少，才了蚕桑又插田。</p>

            </div>

            <img src="/static/mobile/index/images/pictures/cun3.jpg" class="responsive-image" alt="img">

        </div>

    </div>

</div>



<div class="top-call-to-action full-bottom">

    <a href="tel:+1 234 567 890"><i class="fa fa-lock"></i>登录</a>

    <a class="" href="{:url('/listshow',['cid'=>'4'])}"><i class="fa fa-pie-chart"></i>酒店预订</a>

    <a href="{:url('index/Personal/index')}"><i class="fa fa-user"></i>个人中心</a>

</div>



<div class="content">

    <div class="decoration"></div>

    <div class="container no-bottom">

        <h2 class="center-text">安逸之旅,吉美乡村</h2>

        <p class="center-text">
            昨夜还是春雨沙沙，清晨的缕缕阳光已经穿过丛林照射大地。五月的乡村更显柔情，群山连绵，林壑尤美。汽车穿梭在山间公路上，车窗外茂林修竹，翠色欲滴。
        </p>


    </div>

    <div class="decoration"></div>

</div>



<!-- Content Heding -->

<div class="content-heading">

    <h4>水墨山水画廊，四季养生天堂</h4>

    <p>美丽田园有情，魅力乡村有请。</p>

    <!--<i class="fa fa-cog"></i>-->

    <div class="overlay"></div>

    <img src="/static/mobile/index/images/pictures/1w.jpg" alt="img">

</div>



<div class="content">

    <div class="decoration"></div>

    <h2 class="center-text">精彩活动</h2>
    {volist name="activitiesindex" id="v"}
    <p class="center-text">
        {$v.ac_abstract}
    </p>

    <div class="one-half-responsive">

        <img src="/uploads/{$v['pic']}" class="responsive-image full-bottom" alt="img">

    </div>
    {/volist}





    <div class="decoration"></div>

</div>



<div class="content-strip full-bottom">
    <a href="{:url('/listshow',['cid'=>'1'])}">
        <div class="content-strip-content">

            <h1>乡村风景</h1>

            <p>
                绿树村边合, 青山郭外斜。 开轩面场圃, 把酒话桑麻。 待到重阳日, 还来就菊花。
                田夫荷锄立，相见语依依。 即此羡闲逸，怅然吟式微。 春中田园 屋中春鸠鸣，树边杏花白。
            </p>

        </div>

        <div class="content-strip-overlay"></div>
    </a>
</div>



<div class="content">

    <div class="decoration"></div>

    <div class="container no-bottom">

        <!-- Page Columns-->
        {volist name="hotscenery" id="v" key="k"}
        {if condition="$k%2 eq 1"}
        <div class="one-half-responsive">
            <a href="{:url('/detail',['cid'=>$v.c_id,'gid'=>$v.id])}">
                <p class="thumb-left no-bottom">

                    <img src="/uploads/{$v.pic}" alt="img">

                    <strong>{$v.gd_title} </strong>

                    <em><br>{$v.gd_abstract}</em>

                </p>
            </a>


            <div class="thumb-clear"></div>
            <div class="decoration"></div>
        </div>
        {else /}

        <div class="one-half-responsive last-column">
            <a href="{:url('/detail',['cid'=>$v.c_id,'gid'=>$v.id])}">
                <p class="thumb-right no-bottom">

                    <img src="/uploads/{$v.pic}" alt="img">

                    <strong>{$v.gd_title} </strong>

                    <em><br>{$v.gd_abstract} </em>

                </p>
            </a>
            <div class="thumb-clear"></div>
            <div class="decoration"></div>

        </div>
        {/if}
        {/volist}

    </div>

</div>



<!-- Content Heding -->

<div class="content-heading">
    <a href="{:url('/listshow',['cid'=>'5'])}">
        <h4>旅游路线</h4>

        <p>飒飒松上雨，潺潺石中流。</p>

        <i class="fa fa-star"></i>

        <div class="overlay"></div>

        <img src="/static/mobile/index/images/pictures/3w.jpg" alt="img">
    </a>
</div>



<div class="content">
    {volist name="hotroute" id="v"}
    <a href="{:url('/detail',['cid'=>$v.c_id,'gid'=>$v.id])}">
        <div class="container">

            <div class="one-half-responsive">

                <img src="/uploads/{$v.pic}" alt="img" class="responsive-image">

            </div>

            <div class="one-half-responsive last-column">

                <h2 class="center-if-mobile no-bottom">{$v.gd_title}</h2>


                <p class="center-if-mobile no-bottom">
                    {$v.gd_abstract}
                </p>

            </div>

        </div>
    </a>
    {/volist}

    <div class="decoration"></div>

    <div class="container no-bottom">

        <h2 class="center-text">热门景区</h2>

        <p class="center-text">
            木杪田家出，城阴野迳分。溜渠行碧玉，畦稼卧黄云。薄槿烟脂染，深荷水麝焚。夕阳人不见，鸡鹜自成群。
        </p>

        <ul class="gallery round-thumb homepage-gallery">
            {volist name="hotscy" id="v"}
            <li><a class="" href="{:url('/detail',['cid'=>$v.c_id,'gid'=>$v.id])}" ><img src="/uploads/{$v.pic}" alt="img" /></a></li>
            {/volist}
        </ul>

    </div>

    <div class="decoration"></div>

</div>



<!-- Content Heding -->

<div class="content-heading">
    <a href="{:url('/listshow',['cid'=>'6'])}">
        <h4>特产美食</h4>

        <p>T友朋设宴庆云楼，美食十二配郎酒。</p>


        <div class="overlay"></div>

        <img src="/static/mobile/index/images/pictures/5w.jpg" alt="img">
    </a>
</div>



<!-- Page Content-->

<div class="content">

    <div class="decoration"></div>

    <!-- Staff Slider-->

    <div class="container">

        <a href="#" class="next-staff"></a>

        <a href="#" class="prev-staff"></a>

        <div class="staff-slider">
            {volist name="foods" id="v"}
            <a href="{:url('/detail',['cid'=>$v.c_id,'gid'=>$v.id])}">
                <div>

                    <div class="staff-item">

                        <img src="/uploads/{$v.pic}" alt="img">

                        <h4>{$v.gd_title}</h4>
                        <strong>{$v.gd_abstract}</strong>
                    </div>

                </div>
            </a>
            {/volist}


        </div>

    </div>

    <div class="decoration"></div>

</div>



<!-- Content Heding -->

<div class="content-heading">

    <h4>美丽乡村</h4>

    <p>桃红复含宿雨，柳绿更带朝烟</p>


    <div class="overlay"></div>

    <img src="/static/mobile/index/images/pictures/1w.jpg" alt="img">

</div>



<div class="content">

    <div class="quote-slider full-bottom">

        <div>

            <h4>

                寒山转苍翠，秋水日潺潺。   倚杖柴门外，临风听暮蝉。   渡头余落日，墟里上孤烟。    夏值接舆醉，狂歌五柳前。

            </h4>


        </div>

        <div>

            <h4>

                故人具鸡黍，邀我至田家。   绿树村边合，青山郭外斜。   开轩面场圃，把酒话桑麻。    待到重阳日，还来就菊花。

            </h4>

            <a href="#">美丽乡村</a>

        </div>



    </div>

    <div class="decoration"></div>

</div>





<!-- Page Footer-->

<div class="footer">
    <p class="center-text">美丽乡村</p>
</div>



<!-- Share Elements-->

<div class="share-bottom">

    <h3>Share Page</h3>

    <div class="share-socials-bottom">

        <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.themeforest.net/">

            <i class="fa fa-facebook facebook-color"></i>

            Facebook

        </a>

        <a href="https://twitter.com/home?status=Check%20out%20ThemeForest%20http://www.themeforest.net">

            <i class="fa fa-twitter twitter-color"></i>

            Twitter

        </a>

        <a href="https://plus.google.com/share?url=http://www.themeforest.net">

            <i class="fa fa-google-plus google-color"></i>

            Google

        </a>



        <a href="https://pinterest.com/pin/create/button/?url=http://www.themeforest.net/&media=https://0.s3.envato.com/files/63790821/profile-image.jpg&description=Themes%20and%20Templates">

            <i class="fa fa-pinterest-p pinterest-color"></i>

            Pinterest

        </a>

        <a href="sms:">

            <i class="fa fa-comment-o sms-color"></i>

            Text

        </a>

        <a href="mailto:?&subject=Check this page out!&body=http://www.themeforest.net">

            <i class="fa fa-envelope-o mail-color"></i>

            Email

        </a>

    </div>

    <a href="#" class="close-share-bottom">Close</a>

</div>

<div class="menu-wrapper-background"></div>

{/block}

</body>







































