<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="/static/mobile/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/mobile/css/wap.css?2">
    <title>首页</title>
    <style>
        #nav{
            position: fixed;
            bottom:5px;
            background-color: #f0f0f0;
            width:100%;
            height: 50px;
        }
        #nav li {
            line-height:25px;
        }

        #nav li a{
            font-size:5px;
        }

        #ul{
            width:98%;
            margin-left:1%;
        }
    </style>
</head>
<body>

<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
    <a href="#top" title="">
        <img class="am-gotop-icon-custom" src="/static/mobile/img/goTop.png" />
    </a>
</div>

<div class="pet_mian" id="top">
    <div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}' >
        <ul class="am-slides">
            <li>
                <img src="/static/mobile/img/cun1.jpg" height="400">
                <div class="pet_slider_font">
                    <span class="pet_slider_emoji"> (╭￣3￣)╭♡   </span>
                    <span>越中古胜地，活力新富盛。</span>
                </div>
                <div class="pet_slider_shadow"></div>
            </li>
            <li>
                <img src="/static/mobile/img/cun2.jpg">
                <div class="pet_slider_font">
                    <span class="pet_slider_emoji"> []~(￣▽￣)~*　</span>
                    <span>相约最美乡村，品味桃花春色</span>
                </div>
                <div class="pet_slider_shadow"></div>
            </li>
            <li>
                <img src="/static/mobile/img/cun3.jpg">
                <div class="pet_slider_font">
                    <span class="pet_slider_emoji"> (｡・`ω´･)　</span>
                    <span>乡村的精彩，花园的风采。</span>
                </div>
                <div class="pet_slider_shadow"></div>
            </li>
        </ul>
    </div>


    <div class="pet_circle_nav">
        <ul class="pet_circle_nav_list">
            <li><a href="{:url('/listshow',['cid'=>'1'])}" class="iconfont pet_nav_xinxianshi ">&#xe61e;</a><span>风景</span></li>
            <li><a href="{:url('/listshow',['cid'=>'5'])}" class="iconfont pet_nav_zhangzhishi ">&#xe607;</a><span>旅游路线</span></li>
            <li><a href="{:url('/listshow',['cid'=>'6'])}" class="iconfont pet_nav_kantuya ">&#xe62c;</a><span>美食</span></li>
            <li><a href="{:url('/listshow',['cid'=>'4'])}" class="iconfont pet_nav_mengzhuanti ">&#xe622;</a><span>住宿</span></li>
            <li><a href="" class="iconfont pet_nav_meirong ">&#xe629;</a><span>活动</span></li>
            <li><a href="" class="iconfont pet_nav_yiyuan ">&#xe602;</a><span>天气</span></li>

            <li><a href="" class="iconfont pet_nav_dianpu ">&#xe604;</a><span>新闻</span></li>
            <li><a href="{:url('index/Personal/index')}" class="iconfont pet_nav_gengduo ">&#xe600;</a><span>个人中心</span></li>

            <li><a href="{:url('/showLogin')}" class="iconfont pet_nav_dianpu ">&#xe604;</a><span>登录/注册</span></li>
            <li><a href="javascript:;" class="iconfont pet_nav_gengduo ">&#xe600;</a><span>个人中心</span></li>

        </ul>
        <div class="pet_more_list"><div class="pet_more_list_block">
            <div class="iconfont pet_more_close">×</div></div>
        </div>
    </div>
    <div class="pet_content_main">
        <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
            <div class="am-list-news-bd">
                <ul class="am-list">
                    <!--缩略图在标题右边-->
                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right pet_list_one_block">
                        <div class="pet_list_one_info">
                            <div class="pet_list_one_info_l">
                                <div class="pet_list_one_info_name">特产美食</div>
                            </div>
                            <div class="pet_list_one_info_r">
                                <div class="pet_list_tag pet_list_tag_xxs">特产美食</div>
                            </div>
                        </div>
                        {volist name="foods" id="v"}
                        <div class=" am-u-sm-8 am-list-main pet_list_one_nr">
                            <h3 class="am-list-item-hd pet_list_one_bt"><a href="{:url('/detail',['cid'=>$v.c_id,'gid'=>$v.id])}" class="">{$v.gd_abstract}</a></h3>
                        </div>
                        <div class="am-u-sm-4 am-list-thumb">
                            <a href="{:url('/detail',['cid'=>$v.c_id,'gid'=>$v.id])}" class="">
                                <img src="/uploads/{$v.pic}" class="pet_list_one_img" alt=""/>
                            </a>
                        </div>
                        {/volist}
                    </li>
                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right pet_list_one_block">
                        <div class="pet_list_one_info">
                            <div class="pet_list_one_info_l">
                                <div class="pet_list_one_info_name">热门路线推荐</div>
                            </div>
                            <div class="pet_list_one_info_r">
                                <div class="pet_list_tag pet_video_tag">路线推荐</div>
                            </div>
                        </div>
                        {volist name="hotroute" id="v"}
                        <div class=" am-u-sm-8 am-list-main pet_list_one_nr">
                            <h3 class="am-list-item-hd pet_list_one_bt"><a href="{:url('/detail',['cid'=>$v.c_id,'gid'=>$v.id])}" class="">{:mb_substr($v.gd_abstract,0,50)}....</a></h3>
                            <div class="am-list-item-text pet_list_one_text"></div>
                        </div>

                        <div class="am-u-sm-4 am-list-thumb pet_video_info">
                            <div class="pet_video_info_tag"><i class="iconfont">&#xe62d;</i>03:50</div>
                            <a href="{:url('/detail',['cid'=>$v.c_id,'gid'=>$v.id])}">
                                <img src="/uploads/{$v.pic}" class="" />
                            </a>
                        </div>
                        {/volist}
                    </li>
                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right pet_list_one_block">
                        <div class="pet_list_one_info">
                            <div class="pet_list_one_info_l">
                                <div class="pet_list_one_info_name">热门景区</div>
                            </div>
                            <div class="pet_list_one_info_r">
                                <div class="pet_list_tag pet_list_tag_zzs">景区</div>
                            </div>
                        </div>
                        {volist name="hotscenery" id="v"}
                        <div class=" am-u-sm-8 am-list-main pet_list_one_nr">
                            <h3 class="am-list-item-hd pet_list_one_bt"><a href="{:url('/detail',['cid'=>$v.c_id,'gid'=>$v.id])}" class="">{:mb_substr($v.gd_abstract,0,50)}....</a></h3>
                        </div>

                        <div class="am-u-sm-4 am-list-thumb">
                            <a href="{:url('/detail',['cid'=>$v.c_id,'gid'=>$v.id])}" class="">
                                <img src="/uploads/{$v.pic}" class="pet_list_one_img" />
                            </a>
                        </div>
                        {/volist}
                    </li>


                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right pet_list_one_block">
                        <div class="pet_list_one_info">
                            <div class="pet_list_one_info_l">
                                <div class="pet_list_one_info_name">热门活动</div>
                            </div>
                            <div class="pet_list_one_info_r">
                                <div class="pet_list_tag pet_list_tag_zzs">活动</div>
                            </div>
                        </div>
                        {volist name="activitiesindex" id="v"}
                        <div class=" am-u-sm-8 am-list-main pet_list_one_nr">
                            <h3 class="am-list-item-hd pet_list_one_bt"><a href="###" class=""></a></h3>
                        </div>

                        <div class="am-u-sm-4 am-list-thumb">
                            <a href="###" class="">
                                <img src="/uploads/{$v.pic}" class="pet_list_one_img" />
                            </a>
                        </div>
                        {/volist}
                    </li>





                    <li class="am-g am-list-item-desced pet_list_one_block">
                        <div class="pet_article_user_block">
                            <div class="pet_article_user_img">
                                <div class="pet_article_user_shadow"></div>
                                <div class="pet_article_user_title">一周在任意地点工作三天？</div>
                                <img src="/static/mobile/img/c2.png" alt=""></div>
                            <div class="pet_article_user_info">
                                <div class="pet_article_user_info_ico"><img src="/static/mobile/img/c.png" alt=""></div>SeeYouAgain
                            </div>
                            <div class="am-list-item-text pet_article_user_nr">这是一家帮助客户在亚太地区找到适合的打折酒店的中介机构，在全球设立了9个办事处，老板克里斯蒂安·米施勒宣称要把它打造成世界上最棒的公司。</div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <br>
    <div id="nav">
        <div id="ul">
            <ul class="am-nav am-nav-pills">
                <li class="am-abled"><a href="#top"><span class="am-icon-arrow-up am-icon-sm">　</span>置顶</a></li>
                <li class="am-abled"> <a href="#doc-oc-demo1" data-am-offcanvas><span class="am-icon-th-list am-icon-sm">　</span>分类</a></li>
                <li class="am-abled"><a href="#"><span class="am-icon-cart-plus am-icon-sm">　</span>购物车</a></li>
                <li class="am-abled"><a href="#"><span class="am-icon-female am-icon-sm">　</span>我的</a></li>
            </ul>
        </div>
    </div>
    <br>


</div>


<script src="/static/mobile/js/jquery.min.js"></script>
<script src="/static/mobile/js/amazeui.min.js"></script>
<script>
    $(function(){

        // 动态计算新闻列表文字样式
        auto_resize();
        $(window).resize(function() {
            auto_resize();
        });
        $('.am-list-thumb img').load(function(){
            auto_resize();
        });

        $('.am-list > li:last-child').css('border','none');
        function auto_resize(){
            $('.pet_list_one_nr').height($('.pet_list_one_img').height());

        }
        $('.pet_nav_gengduo').on('click',function(){
            $('.pet_more_list').addClass('pet_more_list_show');
        });
        $('.pet_more_close').on('click',function(){
            $('.pet_more_list').removeClass('pet_more_list_show');
        });
    });

</script>
</body>
</html>