<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="/static/mobile/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/mobile/css/wap.css?2">
    <title>登录</title>
</head>
<body>
<header data-am-widget="header"
        class="am-header am-header-default" style="background-color: #2dcc70">
    <div class="am-header-left am-header-nav">
        <a href="{:url('/')}" class="">
            <i class="am-header-icon am-icon-home"></i>
        </a>
    </div>

    <h1 class="am-header-title">
        <a href="#title-link" class="">
            QQ登录
        </a>
    </h1>

    <div class="am-header-right am-header-nav">
        <a href="{:url('/outLogin')}" class="">
            <i class="am-header-icon am-icon-power-off"></i>
        </a>
    </div>
</header>
<ul class="am-nav am-nav-tabs am-nav-justify">
    <!--<li class="am-active"><a href="{:url('/')}">首页</a></li>-->
    <li><a href="{:url('/showLogin')}">QQ登录</a></li>
</ul>
<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
<form class="am-form am-form-horizontal" action="{:url('/qqlogin')}" method="post" onsubmit="return checkMsg()">
    <div style="text-align: center"><img src="{$photo}"></div>
    <input type="hidden" name="photo" value="{$photo}">
    <div class="am-form-group" style="margin-top: 20px">
        <div class="am-u-sm-8 am-u-sm-offset-2">
            <input type="text" style="border-radius:5px" id="name" name="username" placeholder="请输入你的用户名" value="{$username}">
        </div>
    </div>

    <div class="am-form-group">
        <div class="am-u-sm-8 am-u-sm-offset-2">
            <input type="text" class="phone" style="border-radius:5px" id="phone" name="phone" placeholder="请输入你的手机号">
        </div>
    </div>

    <div class="am-form-group">
        <!--<label class="am-u-sm-2 am-form-label"></label>-->
        <div class="am-u-sm-5 am-u-sm-offset-2">
            <input type="text" style="border-radius:5px;width: 120px;" placeholder="请输入验证码" id="incode">
        </div>
        <button type="button" class="am-btn am-btn-secondary" style="border-radius:5px;width: 80px;" id="send">验证码</button>
        <p style="display: none" id="code"></p>
    </div>

    <div class="am-form-group">
        <div class="am-u-sm-8 am-u-sm-offset-2">
            <button type="submit"  style="border-radius:5px;width:230px" class="am-btn am-btn-success">确认添加</button>
        </div>
    </div>
</form>


<script src="/static/mobile/js/jquery.min.js"></script>
<script src="/static/mobile/js/amazeui.min.js"></script>
<script>

    //        修改个人信息发送短信验证码
    $('#send').click(function(){
        n = 30;
        function time(){
            if(n <= 1){
                $('#send').text('验证码');
                $('#send').attr('disabled', false);
                clearTimeout(time);
                n = 30;
            }else{
                n--;
                $('#send').text(n);
                $('#send').attr('disabled', true);
                setTimeout(time,1000);
            }
//          console.log(n);
        }
        time();

        var phone = $('.phone').val();
//            console.log(phone);
        $.ajax({
            type:'get',
            url:'/sendmsg/'+phone,
            success:function(data){
//                    console.log(data);
                if(data['status']){
                    $('#code').text(data['string']);
                    alert('短信验证码发送成功');
                }else{
                    alert('短信验证码发送失败~');
                }
            },
            error:function(){
                alert('短信验证码发送失败');
            }
        });
    });

    function checkMsg(){
        var incode = $('#incode').val();
        if($('#name').val() == ''){
            alert('用户名不能为空');
            return false;
        }else if($('#phone').val() == '') {
            alert('手机号不能为空');
            return false;
        }else if(incode == ''){
            alert('请进行短信验证');
            return false;
        }else if(incode != $('#code').text()){
            alert('验证码不正确,请重试');
            return false;
        }else{
            return true;
        }
    }
</script>
</body>
</html>