{extend name="index/index"}
{block name="main"}

<!-- page heading start-->
<div class="page-heading">
    <h3>
        管理员角色权限管理
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">Forms</a>
        </li>
        <li class="active">管理员角色权限管理 </li>
    </ul>
</div>
<!-- page heading end-->


<div class="col-lg-12">

        <section class="panel">
            <header class="panel-heading">
                权限节点选项
                <span class="tools pull-right">
                            <a class="fa fa-chevron-down" href="javascript:;"></a>
                            <a class="fa fa-times" href="javascript:;"></a>
                         </span>
            </header>
            <button onclick="ck(1)">全选</button>　
            <button onclick="ck(2)">全取消</button>　
            <button onclick="ck(3)">反选</button>　
            <hr>
            <form action="{:url('admin/cate/nodeedit')}" method="post">
                <!--<input type="hidden" name="_method" value="PUT">-->
                {volist name="node" id="vo"}
                <div class="col-md-3">
                    <div class="flat-green single-row">
                        <div class="checkbox">
                            <input type="checkbox" name="{$vo.id}" {if condition="$vo['is'] eq '1'"} checked {/if} class="check">

                            <label>{$vo.name}</label>
                        </div>
                    </div>
                </div>
                {/volist}
                <input type="hidden" name="rid" value="{$rid}">
                <br>
                <br>
                <br>
                <div class="row"></div>
                <hr>
                　　　<button class="btn btn-success">确认修改</button>
                <br>
                <br>
            </form>

</div>



<!--body wrapper end-->
<div class="row"></div>
<div class="row"></div>
<!--footer section start-->
<footer>
    2014 &copy; AdminEx by <a href="http://www.tcode.me/" target="_blank">淘代码</a>
</footer>
<!--footer section end-->
{/block}


{block name="myjs"}

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/app/admin/js/jquery-1.10.2.min.js"></script>
<script src="/static/app/admin/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/app/admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/app/admin/js/bootstrap.min.js"></script>
<script src="/static/app/admin/js/modernizr.min.js"></script>
<script src="/static/app/admin/js/jquery.nicescroll.js"></script>

<!--ios7-->
<script src="/static/app/admin/js/ios-switch/switchery.js" ></script>
<script src="/static/app/admin/js/ios-switch/ios-init.js" ></script>

<!--icheck -->
<script src="/static/app/admin/js/iCheck/jquery.icheck.js"></script>
<script src="/static/app/admin/js/icheck-init.js"></script>
<!--multi-select-->
<script type="text/javascript" src="/static/app/admin/js/jquery-multi-select/js/jquery.multi-select.js"></script>
<script type="text/javascript" src="/static/app/admin/js/jquery-multi-select/js/jquery.quicksearch.js"></script>
<script src="/static/app/admin/js/multi-select-init.js"></script>
<!--spinner-->
<script type="text/javascript" src="/static/app/admin/js/fuelux/js/spinner.min.js"></script>
<script src="/static/app/admin/js/spinner-init.js"></script>
<!--file upload-->
<script type="text/javascript" src="/static/app/admin/js/bootstrap-fileupload.min.js"></script>
<!--tags input-->
<script src="/static/app/admin/js/jquery-tags-input/jquery.tagsinput.js"></script>
<script src="/static/app/admin/js/tagsinput-init.js"></script>
<!--bootstrap input mask-->
<script type="text/javascript" src="/static/app/admin/js/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>


<!--common scripts for all pages-->
<script src="/static/app/admin/js/scripts.js"></script>
<script>
    var check = document.getElementsByClassName('check');
    function  ck(m) {
        for (var i = 0; i < check.length; i++) {
            switch(m){
                case 1:check[i].checked=true;break;
                case 2:check[i].checked=false;break;
                case 3:check[i].checked=!check[i].checked;break;
            }
        }
    }
</script>
{/block}
