{extend name="index/index"}
{block name="main"}
    <!--&lt;!&ndash; main content start&ndash;&gt;-->
    <!--<div class="main-content" >-->
<br>
<br>

<a href="javascript:history.go(-1)" class=" btn-primary btn-lg">返回上一页</a>
<button  class=" btn-primary btn-lg" data-toggle="modal" data-target="#myModal">添加管理员</button>
        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            管理员列表
                            <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                        </header>
                        <div class="panel-body">
                            <table class="table  table-hover general-table">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th class="hidden-phone">管理员姓名</th>
                                    <th>角色</th>
                                    <th>年龄</th>
                                    <th>性别</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="list" id="vo" key="k"}
                                <tr>
                                    <td>
                                      {$k}
                                    </td>
                                    <td class="hidden-phone">{$vo['username']}</td>
                                    <td>{$vo['rolename']}</td>
                                    <td>{$vo['age']}</td>
                                    <td>{if condition="$vo['sex']=='0'"}女
                                        {else /}男
                                        {/if}
                                    </td>
                                    <td>
                                        <a href="{:url('admin/user/edit',['id'=>$vo['id']])}" class="btn btn-primary" ><font color="white">修改/查看个人信息</font></a>
                                        <button class="btn btn-danger del-btn" data-id="{$vo['id']}">删除</button>

                                        <a href="{:url('admin/user/password',['id'=>$vo['id']])}" data-toggle="modal" data-target="#myModal1" class="btn btn-success "><font color="white">修改密码</font></a>

                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">管理员密码修改</h4>
                                              </div>
                                              <div class="modal-body">
                                            <!-- Modal content start -->

                                                    <form  action="{:url('admin/user/password',['id'=>$vo['id']])} " method="post" enctype="multipart/form-data" >
                                                      
                                                      <div class="form-group">
                                                        <label for="exampleInputPassword1">请输入当前密码</label>
                                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入当前密码" name="oldpass">
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="exampleInputPassword1">请输入新密码</label>
                                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入新密码" name="pass">
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="exampleInputPassword1">请确认新密码</label>
                                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请确认新密码" name="repass">
                                                      </div>
                                                      
                                                      <input type="submit" value="确认修改" class="btn btn-default">
                                                    </form>
                                                        <!-- Modal content end-->
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2014 &copy; AdminEx by <a href="#" target="_blank">美丽乡村</a>
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">管理员添加</h4>
            </div>
            <div class="modal-body">
                <form action="{:url('admin/user/save')}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleInputEmail1">管理员昵称</label>
                        <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="请输入姓名">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">密码</label>
                        <input type="password" name="pass" class="form-control" id="exampleInputPassword1" placeholder="请输入密码">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">年龄</label>
                        <input type="text" name="age" class="form-control" id="exampleInputPassword1" placeholder="请输入年龄">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">请选择角色:</label>
                        <select name="role">
                            {volist name="$rolelist" id="v"}
                            <option value="{$v.id}">{$v.name}</option>
                            {/volist}
                        </select>
                    </div>
                   

                    <div class="form-group">
                        <label class="col-sm-3">
                            <span>
                                <input type="radio" name="sex" value="1" checked> 男
                            </span>
                        </label>
                        <label class="col-sm-3">
                            <span>
                                <input type="radio" name="sex" value="0" > 女
                            </span>
                        </label>
                    </div>

                    <div class="form-group">
                        <!--<label for="exampleInputFile">请上传头像:</label>-->
                        请上传头像:<input type="file" name="img" id="exampleInputFile">
                    </div>

                    <button type="submit" class="btn btn-default">提交</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
    {/block}

 {block name="myjs"}
<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/app/admin/js/jquery-1.10.2.min.js"></script>
<script src="/static/app/admin/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/app/admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/app/admin/js/bootstrap.min.js"></script>
<script src="/static/app/admin/js/modernizr.min.js"></script>
<script src="/static/app/admin/js/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="/static/app/admin/js/scripts.js"></script>
<script src="/static/app/admin/js/toastr.min.js"></script>

<script>
    $(function () {
        //触发用户的删除操作
        $('.del-btn').click(function () {
            var ac_id = $(this).attr('data-id');

            if (confirm('你确定要 [ 删除 ] 该用户么?')) {
                var obj = $(this).parents('tr');
                //console.log(obj);
                delAjax(ac_id, obj);// 调用执行AJAX删除
            }
        });
    });




    // 设置弹框参数
    toastr.options = {
        closeButton: true,//是否显示关闭按钮
        progressBar: true,//实现显示计时条
        timeOut: "3000",//自动关闭时间
        positionClass: "toast-top-right"//提示位置
        // toast-top-full-width 顶端，宽度铺满整个屏幕
        // toast-top-right  顶端右边
    };

    // 执行AJAX删除
    function delAjax(id, obj) {
        $.ajax({
            type: 'delete', // DELETE请求方式
            url: '/adminuser/' + id,
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data.status) {
                    toastr.success(data.info);
                    // 将当前的节点删除掉
                    obj.remove();
                } else {
                    toastr.error(data.info, 'FBI WARNING:');
                }
            },
            error: function () {
                // AJAX操作失败
                alert('AJAX操作失败');
            }
        });
    }



</script>

{/block}

