{extend name="index/index"}
{block name="main"}
  <form  action="{:url('admin/user/password',['id'=>$vo['id']])} " method="post" enctype="multipart/form-data">
  
  <div class="form-group">
    <label for="exampleInputPassword1">请输入当前密码</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入当前密码" name="oldpass">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">请输入新密码</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入新密码" name="pass">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">请确认新密码</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请确认新密码" name="repass">
  </div>
  
  <input type="submit" value="确认修改" class="btn btn-default">
</form>
  
{/block}

{block name="myjs"}
<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/app/admin/js/jquery-1.10.2.min.js"></script>
<script src="/static/app/admin/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/app/admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/app/admin/js/bootstrap.min.js"></script>
<script src="/static/app/admin/js/modernizr.min.js"></script>
<script src="/static/app/admin/js/jquery.nicescroll.js"></script>

<!--Sparkline Chart-->
<script src="/static/app/admin/js/sparkline/jquery.sparkline.js"></script>
<script src="/static/app/admin/js/sparkline/sparkline-init.js"></script>

<!--google map-->
<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&AMP;sensor=false"></script>-->


<!--common scripts for all pages-->
<script src="/static/app/admin/js/scripts.js"></script>

<script>

    //google map
//    function initialize() {
//        var myLatlng = new google.maps.LatLng(-37.815207, 144.963937);
//        var mapOptions = {
//            zoom: 15,
//            scrollwheel: false,
//            center: myLatlng,
//            mapTypeId: google.maps.MapTypeId.ROADMAP
//        }
//        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
//        var marker = new google.maps.Marker({
//            position: myLatlng,
//            map: map,
//            title: 'Hello World!'
//        });
//    }
//    google.maps.event.addDomListener(window, 'load', initialize);

</script>
{/block}
