<!doctype html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>简易聊天室</title>
    <link rel="stylesheet" href="/static/index/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="well">简易聊天室 <small id="ip">欢迎 <%=ip%></small></h1>
    <ul class="list-group">
        <li class="list-group-item">还木有用户发表言论...</li>
    </ul>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" id="msg" class="form-control" placeholder="说点什么...">
            </div>
            <button id="btn" class="btn btn-default">发言</button>
        </div>
    </div>
</nav>

<script src="/static/index/socket.io/socket.io.js"></script>
<script src="/static/index/js/jquery.min.js"></script>
<script>
    // 得到socket对象
    var socket = io();

    // 点击发送消息
    $('#btn').click(function(){
        // 把文本框中的内容 发送给服务器
        socket.emit('clientOut', {
            'msg' :  $('#msg').val(),
            'ip'  :  $('#ip').html()
        });
        $('#msg').val('');
    });
    // 回车发送消息
    $('#msg').keydown(function(e){
        if (e.keyCode == 13){
            // 把文本框中的内容 发送给服务器
            socket.emit('clientOut', {
                'msg' :  $('#msg').val(),
                'ip'  :  $('#ip').html()
            });
            $('#msg').val('');
        }
    });

    // 接收服务器返回的信息
    socket.on('serverOut',function(serverMsg){
        console.log(serverMsg);
        // 拼接要输出的信息
        var html = '<li class="list-group-item text-primary"><b>'+serverMsg.ip+': </b>'+serverMsg.msg+'</li>';
        // 在最前端插入
        $('.list-group').prepend(html);
    });

</script>


</body>
</html>