{extend name="index/busIndex"}
{block name="main"}

<!-- page heading start-->
<div class="page-heading">
    <h3>
        订单管理
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">订单中心</a>
        </li>
        <!--<li>-->
            <!--<a href="#">Data Table</a>-->
        <!--</li>-->
        <li class="active">被取消订单</li>
    </ul>
</div>
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section>
                <div id="bigForm">
                    <div class="gt_d_courses_wrap default_width mt20" style="display: block" id="doneForm">
                        <table class="table table-hover">
                            <tr>
                                <th style="text-align: center">序号</th>
                                <th style="text-align: center">订单号</th>
                                <th style="text-align: center">商品</th>
                                <th style="text-align: center">单价(元)</th>
                                <th style="text-align: center">数量</th>
                                <th style="text-align: center">总金额(元)</th>
                                <th style="text-align: center" class="col-sm-3">操作</th>
                            </tr>
                            <tr style="line-height: 20px">
                                <td style="text-align: center">1</td>
                                <td style="text-align: center">111</td>
                                <td style="text-align: center">万代</td>
                                <td style="text-align: center">888</td>
                                <td style="text-align: center">1</td>
                                <td style="text-align: center">888</td>
                                <td style="text-align: center">
                                    <button class="btn btn-info btn-sm" id="show">查看详细信息</button>
                                    <button class="btn btn-success btn-sm">转为待发货</button>
                                </td>
                            </tr>
                        </table>
                        <div class="col-sm-offset-1 col-sm-10" style="display: none" style="display: none;background-color: #00a0e9" id="user">
                            <table class="table" style="background-color: #0a6999;color: white;">
                                <tr>
                                    <th style="text-align: center">用户ID</th>
                                    <th style="text-align: center">用户名</th>
                                    <th style="text-align: center">收货人</th>
                                    <th style="text-align: center">联系方式</th>
                                    <th style="text-align: center">详细地址</th>
                                </tr>
                                <tr>
                                    <td style="text-align: center">1</td>
                                    <td style="text-align: center">老王</td>
                                    <td style="text-align: center">隔壁老王</td>
                                    <td style="text-align: center">110</td>
                                    <td style="text-align: center">大街</td>
                                </tr>
                            </table>
                        </div>
                        <!--</div>-->
                    </div>
            </section>
        </div>
    </div>
</div>
<!--body wrapper end-->

<!--footer section start-->

<!--footer section end-->

</div>
<!-- main content end-->
{/block}
{block name="myjs"}
<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/app/admin/js/jquery-1.10.2.min.js"></script>
<script src="/static/app/admin/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/app/admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/app/admin/js/bootstrap.min.js"></script>
<script src="/static/app/admin/js/modernizr.min.js"></script>
<script src="/static/app/admin/js/jquery.nicescroll.js"></script>

<!--data table-->
<script type="text/javascript" src="/static/app/admin/js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/app/admin/js/data-tables/DT_bootstrap.js"></script>

<!--common scripts for all pages-->
<script src="/static/app/admin/js/scripts.js"></script>

<!--script for editable table-->
<script src="/static/app/admin/js/editable-table.js"></script>

<!-- END JAVASCRIPTS -->
<script>
    $('#show').click(function(){
        $('#user').slideToggle();
    });
</script>

{/block}
