{extend name="index/busIndex"}
{block name="main"}

<!-- page heading start-->
<div class="page-heading">
    <h3>
        订单管理
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">订单中心</a>
        </li>
        <!--<li>-->
            <!--<a href="#">Data Table</a>-->
        <!--</li>-->
        <li class="active">未发货订单详情</li>
    </ul>
</div>
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section>
                <div id="bigForm">
                    <div class="gt_d_courses_wrap default_width mt20" style="display: block" id="doneForm">
                        <table class="table table-hover">
                            <tr>
                                <th style="text-align: center">序号</th>
                                <th style="text-align: center">订单号</th>
                                <th style="text-align: center">商品</th>
                                <th style="text-align: center">单价(元)</th>
                                <th style="text-align: center">数量</th>
                                <th style="text-align: center">总金额(元)</th>
                                <th style="text-align: center" class="col-sm-3">操作</th>
                            </tr>
                            {volist name="un" id="v" key="k"}
                            <tr style="line-height: 20px">
                                <td style="text-align: center">{$k}</td>
                                <td style="text-align: center">{$v['o_order_num']}</td>
                                <td style="text-align: center">{$v['o_gname']}</td>
                                <td style="text-align: center">{$v['o_price']}</td>
                                <td style="text-align: center">{$v['o_num']}</td>
                                <td style="text-align: center">{$v['o_total']}</td>
                                <td style="text-align: center">
                                        <a href="{:url('admin/busorder/showdetail',['aid'=>$v['o_uid']])}" class="btn btn-info btn-sm showUser">查看收货人信息</a>
                                        <!--<p style="display: none" class="oid">{$v['o_id']}</p>-->
                                        <button type="button" class="btn btn-success btn-sm change" data-id="{$v['o_id']}">转为已发货</button>
                                </td>
                            </tr>
                            {/volist}
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!--body wrapper end-->

<!--footer section start-->

<!--footer section end-->

</div>
<!-- main content end-->
{/block}
{block name="myjs"}
<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/app/admin/js/jquery-1.10.2.min.js"></script>
<script src="/static/app/admin/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/app/admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/app/admin/js/bootstrap.min.js"></script>
<script src="/static/app/admin/js/modernizr.min.js"></script>
<script src="/static/app/admin/js/jquery.nicescroll.js"></script>

<!--data table-->
<script type="text/javascript" src="/static/app/admin/js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/app/admin/js/data-tables/DT_bootstrap.js"></script>

<!--common scripts for all pages-->
<script src="/static/app/admin/js/scripts.js"></script>

<!--script for editable table-->
<script src="/static/app/admin/js/editable-table.js"></script>

<!-- END JAVASCRIPTS -->
<script>

    $('.change').click(function(){
        if(confirm('您确定要将此订单转为已发货吗?')){
//            var oid = $('.oid').html();
            var oid = $(this).attr('data-id');
//            console.log(oid);
            dochange(oid);
        }
    });

    function dochange(oid){
        $.ajax({
            type:'post',
            url:"/todiliver",
            data:{"oid":oid},
            dataType:'json',
            success:function(data){
//                console.log(data);
                if (data.status){
                    alert('状态改变成功');
                    history.go(0);
                }else{
                    alert('状态改变失败');
                }
            },
            error:function(){
//                console.log(data);
                alert('状态改变失败,请重试~');
            }
        });
    }


</script>

{/block}
