{extend name="index/busIndex"}
{block name="main"}

<!-- page heading start-->
<div class="page-heading">
    <h3>
        图片修改
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">店铺首页</a>
        </li>
        <li>
            <a href="#">产品列表</a>
        </li>
        <li class="active"> 图片修改 </li>
    </ul>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    修改图片
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                     </span>
                </header>

                <div class="panel-body">
                    <div class="adv-table editable-table ">
                        <div class="clearfix">

                        </div>
                    </div>
                    <div class="space15"></div>

                    <form action="{:url('admin/foodpic/update',['id'=>$pic.id])}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="_method" value="PUT">
                        <input type="hidden" name="id" value="{$pic.id}">


                        <div class="form-group">
                            <label for="exampleInputPassword1">原图片</label>
                            <img src="/uploads/{$pic.pic}" width="300" height="240">
                        </div>

                        <div class="form-group">
                            <!--<label for="exampleInputFile">请上传头像:</label>-->
                            请上传更改图片:<input type="file" name="img" id="exampleInputFile">
                        </div>

                        <button type="submit" class="btn btn-default">提交</button>
                    </form>

                    </table>
                </div>
        </div>
        </section>
    </div>
</div>
</div>
<!--body wrapper end-->

<!--footer section start-->
<footer>
    2014 &copy; AdminEx by <a href="http://www.tcode.me/" target="_blank">淘代码</a>
</footer>
<!--footer section end-->

</div>
<!-- main content end-->
{/block}
{block name="myjs"}
<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/app/admin/js/jquery-1.10.2.min.js"></script>
<script src="/static/app/admin/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/app/admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/app/admin/js/bootstrap.min.js"></script>
<script src="/static/app/admin/js/modernizr.min.js"></script>
<script src="/static/app/admin/js/jquery.nicescroll.js"></script>

<!--data table-->
<script type="text/javascript" src="/static/app/admin/js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/app/admin/js/data-tables/DT_bootstrap.js"></script>

<!--common scripts for all pages-->
<script src="/static/app/admin/js/scripts.js"></script>

<!--script for editable table-->
<script src="/static/app/admin/js/editable-table.js"></script>

<!-- END JAVASCRIPTS -->


{/block}
