{extend name='index/index'}

{block name='main'}

<!--body main-->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-1"></div>
        <div class="col-md-5">
            <h1>查看店铺基本信息</h1>
            <h2>
                <button type="submit" class="btn btn-success" id="info">返回上一页</button>
                <button type="submit" class="btn btn-success" id="editpass" data-id="{$res.b_id}">重置密码</button>
                <button type="submit" class="btn btn-success" id="agree" data-id="{$res.b_id}" style="display:{$res['is_approve']=='Y'?'none':'yes'}">同意申请</button>
            </h2>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <img src="{:empty($res['b_logo'])?'/static/app/admin/images/1.jpg':$res['b_logo'];}" class="img-circle" width='250px' height="250px">
            <table class="table" style="margin-top:50px">
                <tr>
                    <td>注册时间:</td>
                    <td>{$res['b_create_time']}</td>
                </tr>
                <tr>
                    <td>经营状态:</td>
                    <td id="apply">{$res['is_approve']=='Y'?'审核已通过':'审核中'}</td>
                </tr>
                <tr>
                    <td>经营区域:</td>
                    <td>{$res['b_province']}/{$res['b_city']}/{$res['b_area']}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-5" id="form">
            <form id="form2">
                <div class="form-group">
                    <label for="b_name">店铺名称 </label>
                    <input type="text" class="form-control"  value="{$res['b_name']}" readonly>
                </div>
                <div class="form-group">
                    <label for="b_username">管理员</label>
                    <input type="text" class="form-control"  value="{$res['b_username']}" readonly>
                </div>
                <div class="form-group">
                    <label >密码</label>
                    <input type="text" class="form-control"  value="******" readonly>
                </div>
                <div class="form-group">
                    <label for="b_phone">电话</label>
                    <input type="text" class="form-control"  value="{$res['b_phone']}" readonly>
                </div>
                <div class="form-group">
                    <label for="b_type">店铺类型</label>
                    <input type="text" class="form-control"  value="{$res['b_type']}" readonly>
                </div>
                <div class="form-group">
                    <label for="b_email">邮箱</label>
                    <input type="email" class="form-control"  value="{$res['b_email']}" readonly>
                </div>
            </form>

        </div>
    </div>
</div>
<!--main end-->
{/block}

{block name='myjs'}

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/app/admin/js/jquery-1.10.2.min.js"></script>
<script src="/static/app/admin/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/app/admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/app/admin/js/bootstrap.min.js"></script>
<script src="/static/app/admin/js/modernizr.min.js"></script>
<script src="/static/app/admin/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="/static/app/admin/js/easypiechart/jquery.easypiechart.js"></script>
<script src="/static/app/admin/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="/static/app/admin/js/sparkline/jquery.sparkline.js"></script>
<script src="/static/app/admin/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="/static/app/admin/js/iCheck/jquery.icheck.js"></script>
<script src="/static/app/admin/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="/static/app/admin/js/flot-chart/jquery.flot.js"></script>
<script src="/static/app/admin/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="/static/app/admin/js/flot-chart/jquery.flot.resize.js"></script>


<!--Morris Chart-->
<script src="/static/app/admin/js/morris-chart/morris.js"></script>
<script src="/static/app/admin/js/morris-chart/raphael-min.js"></script>

<!--Calendar-->
<script src="/static/app/admin/js/calendar/clndr.js"></script>
<script src="/static/app/admin/js/calendar/evnt.calendar.init.js"></script>
<script src="/static/app/admin/js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

<!--common scripts for all pages-->
<script src="/static/app/admin/js/scripts.js"></script>

<!--Dashboard Charts-->
<script src="/static/app/admin/js/dashboard-chart-init.js"></script>


<script>
    $(function() {
        $('#editpass').click(function () {
            var id = $(this).attr('data-id');
            $.ajax({
                type: 'get',
                url: '/buspower/' + id + '/edit',
                dataType: 'json',
                success: function (data) {
                    if (data.status) {
                        alert('密码成功重置为:123456');
                    } else {
                        alert('密码重置失败,可能您没有此权限');
                    }
                },
                error: function () {
                    alert('密码重置失败');
                }

            });
        });

        $('#agree').click(function () {
            var id = $(this).attr('data-id');
            if(confirm('你确定[通过]审核吗?')){
                Agree(id);
            }

        });

        $('#info').click(function(){
            history.back(-1);
        });





    });

   function Agree(id)
   {
       $.ajax({
           type: 'PUT',
           url: '/buspower/' + id,
           dataType: 'json',
           success: function (data) {
               if (data.status) {
                   alert('审核通过成功');
                   $('#apply').html('审核已通过');
                   $('#agree').hide();
               } else {
                  alert('审核通过失败,可能您没有此权限');
               }

           },
           error: function () {
               alert('失败');
           }

       });
   }


</script>
{/block}
