<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Login</title>

    <link href="/static/app/admin/css/style.css" rel="stylesheet">
    <link href="/static/app/admin/css/style-responsive.css" rel="stylesheet">

    <!--HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--{if lt IE 9}-->
    <!--<script src="/static/app/admin/js/html5shiv.js"></script>-->
    <!--<script src="/static/app/admin/js/respond.min.js"></script>-->
    <!--{/endif}-->
    <style>
        #login-body {
            background: url('/static/app/admin/images/1.jpg') no-repeat fixed;
            background-size: cover;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body id="login-body">

<div class="container">

    <form class="form-signin" action="{:url('admin/BusLogin/doLogin')}" method="post" onsubmit="return checkregister()">
        <div class="form-signin-heading text-center">

            <!--<img src="/static/app/admin/images/favicon.jpg" alt=""/>-->
        </div>
        <div class="login-wrap">
            <h1 class="sign-title" style="font-size:36px;color:#ABD7CD">进入我的店铺</h1>
            <input type="text" name="b_name" class="form-control" placeholder="店铺名称" autofocus>
            <input type="password" name="pass" class="form-control" placeholder="密码">
            <input type="text" name="phone" class="form-inline" placeholder="手机号码" style="width: 180px; height:39px;padding-left: 10px" onblur="sub5()" id="666">
            <button type="button" style="display: inline-block;width:100px;height:39px;margin-left: 5px;border-radius: 5px" class="form-inline" id="usebtn">获取验证码</button><span class="subscript" id="sub5"></span>
            <input type="password" name="pass" class="form-control" placeholder="请输入短信验证码" onblur="sub6()" id="888">
            <span class="subscript" id="sub6"></span>
            <button class="btn btn-lg btn-login btn-block" type="submit">
                <i class="fa fa-check"></i>
            </button>

            <div class="registration">
                还不是商家?
                <a class="" href="{:url('index/index/index')}">
                    免费注册
                </a>
            </div>
            <!--<label class="checkbox">-->
                <!--<input type="checkbox" value="remember-me"> Remember me-->
                <!--<span class="pull-right">-->
                    <!--<a data-toggle="modal" href="#myModal" > 忘记密码?</a>-->

                <!--</span>-->
            <!--</label>-->
        </div>
        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">忘记密码 ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>请输入手机号码请求重置密码</p>
                        <input type="text" name="phone" placeholder="请输入手机号码" autocomplete="off" class="form-control placeholder-no-fix">
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                        <button class="btn btn-primary" type="button">重置密码</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->
    </form>
</div>
<script src="/static/app/admin/js/jquery-1.10.2.min.js"></script>
<script src="/static/app/admin/js/bootstrap.min.js"></script>
<script src="/static/app/admin/js/modernizr.min.js"></script>
<script>
    function sub5(){
        var sub=$("#666").val();
        if (/^1(3|4|5|7|8)[0-9]\d{8}$/.test(sub)){
            $('#sub5').html('√手机格式正确');
            $('#sub5').css('color','green');
            return true;
        }else{
            $('#sub5').html('× 手机格式不正确');
            $('#sub5').css('color','red');
            return false;
        }
    };
//    <!--短信验证-->
//    function checkPhone(){
//        var phone = document.getElementById('666').value;
//        if(!(/^1[34578]\d{9}$/.test(phone))){
//            return false;
//        }else{
//            return true;
//        }
//    }
    var btn1 = document.getElementById('usebtn');
    $('#usebtn').click(function(){
        if(!sub5()){
            return false;
        }
        var  phone = document.getElementById('666').value;
        m=60;
        showbtn();
        send(phone);
    });

    function showbtn() {
        if (m <= 0) {
            btn1.disabled = false;
            btn1.innerHTML = '重新获取';
            return;
        }
        btn1.innerHTML = '重新获取('+m+')';
        btn1.disabled =true;
        m--;
        setTimeout("showbtn()", 1000);
    }
    sendsmscode ='adsfdxgfhcvjbknbvjhgfsASdsfdghjkl';

    //AjAX请求发送验证码
    function send(phone){
        //console.log(phone);
        $.ajax({
            type:'get',
            url:'/sendmsg/'+phone,
            dataType: 'json',
            success:function(data){
                if(data.status){
                    sendsmscode=data['string'];
                    alert('短信发送成功');
                }else{
                    alert('系统错误,请重试');
                }
            },
            error:function(){
                alert('请求失败');
            }
        });
    }

    //6.短信验证码的合法性验证
    function sub6(){
        var smscode =document.getElementById('888').value;
        if(smscode==sendsmscode){
            $('#sub6').html('√短信验证码正确');
            $('#sub6').css('color','green');
            return true;
        }else{
            $('#sub6').html('×短信验证码错误');
            $('#sub6').css('color','red');
            return false;
        }
    };

    function checkregister()
    {
        if(sub5() && sub6())
        {
            return true;
        }else{
            return false;
        }
    }
</script>

</body>
</html>
